{{$value := index . 2}}
{{$id := index . 1}}

{{if eq (index . 0) "follow"}}

<button
           user-id="{{$id}}"
           class="gbutton follow-block"
           value='{{$value}}'
           onclick="followBlock(this,'follow','{{$id}}')">
    <i class="{{if $value}}icon-heart-broken{{else}}icon-user-plus{{end}}"></i>
</button>

{{else if eq (index . 0) "accept"}}

<button
           user-id="{{$id}}"
           class="gbutton follow-block"
           value='{{$value}}'
           onclick="followBlock(this,'accept','{{$id}}')">
    承认关注
</button>

{{else}}

<button
           user-id="{{$id}}"
           class="gbutton follow-block"
           value='{{$value}}'
           onclick="followBlock(this,'block','{{$id}}')">
    <i class="icon-block block-{{$value}}"></i>

    {{if eq (index . 0) "block-span"}}
    <span>{{if $value}}解除{{else}}拉黑{{end}}</span>
    {{end}}
</button>

{{end}}
