{{template "header.html" .}}
<title>ID 管理</title>

<style>
td.row {
    padding: 0 !important;
}
</style>

<form method="POST">
    <table class=articles>
        <tr><td class=nowrap>ID:</td><td><input class=t name=id value="{{.ID}}"></td></tr>
        <tr><td class=row colspan=2><input class="pure-material-button-outlined" type=submit value="更新我的ID"></td></tr>
        <tr><td class=row colspan=2><input class="pure-material-button-outlined" type=submit name=clear value="清除Cookie ID"></td></tr>
        <tr><td class=row colspan=2><input class="pure-material-button-outlined" type=submit name=notify value="查看收件箱"></td></tr>
</table>
</form>

{{template "footer.html" .}}
