{{template "header.html" .}}
<title>ID 管理</title>

<form method="POST">
    <table class=articles>
        <tr>
            <td class=nowrap>Cookie ID:</td>
            <td><input class=s size=30 name=id value="{{.ID}}"></td>
        </tr>
        <tr>
            <td colspan=2>
                <button class="pure-material-button-outlined" type=submit>更新我的ID</button>
                <button class="pure-material-button-outlined" type=submit name=clear value=1>清除ID</button>
            </td>
        </tr>
</table>
</form>

<div style="margin: 1em">
本站不需要Cookie即可实现所有功能，但你也可以将ID保存进Cookie里避免反复输入同样的字符串。

<style>
.config li {
    word-break: break-all;
    list-style: none;
    font-family: monospace;
}
</style>

<pre><ul class=config>{{.Config}}</ul></pre>

</div>

{{template "footer.html" .}}
