{{template "header.html" .}}
<title>ID 管理</title>

<form method="POST">
    <table class=articles>
        <tr>
            <td class=nowrap>Cookie ID:</td>
            <td><input class=s size=30 name=id value="{{.ID}}"></td>
        </tr>
        <tr>
            <td colspan=2>
                <button class="pure-material-button-outlined" type=submit>更新我的ID</button>
                <button class="pure-material-button-outlined" type=submit name=clear value=1>清除ID</button>
            </td>
        </tr>
</table>
</form>

{{template "footer.html" .}}
