* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #2a66d9;
}

a:hover {
    text-decoration: underline;
}

hr {
    border-color: rgba(0, 0, 0, 0.05);
    border-style: dotted;
}

.articles {
    width: 100%;
    border-collapse: collapse;
}

.articles tr {
    border: #ccc 1px solid;
    border-width: 0 0 1px 0;
}

.articles th {
    text-align: left;
    border-top: none !important;
}

.articles th, .articles td {
    padding: 0.4em; 
    line-height: 1.5em;
}

.articles tr.row:hover {
    background-color: #ebf5fb;
}

.articles th.nowrap, .articles td.nowrap {
    white-space: nowrap;
    width: 1%;
}

.articles tr.dark {
    background: rgba(0,0,0,0.033);
}

.articles .row a {
    color: #233;
}

input.t, textarea {
    width: 100%;
    resize: none;
}

input.t, textarea, input.s {
    border: solid 1px #ccc;
    padding: 4px 6px;
}

.reply pre {
    padding-left: 1.33em;
}

pre {
    font: inherit;
    white-space: pre-wrap;
    word-break: break-all;
}

span.tag {
    display: inline-block;
    position: relative;
    padding: 0 3px 0 4px;
    margin-right: 0.2em;
    overflow: hidden;
    background: rgba(0,0,0,0.07);
    vertical-align: bottom;
}

span.tag:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 0;
    top: -6px;
    border: 6px solid transparent;
    border-left: 6px solid #6B82D6;
}

span.tag.solid:before {
    display: none;
}

span.tag a {
    color: #233;
    margin-left: 2px;
    text-decoration: none !important;
}

span.tag.hl {
    background: #6B82D6;
}

span.tag.hl:before {
    border-left: 6px solid rgba(0,0,0,0.3);
}

span.tag.hl * {
    color: white !important;
}

nav {
	background-color: #E0EBF5;
    line-height: 2.5em;
    font-weight: bold;
    padding: 0 8px;
}

nav ul {
    z-index: 9999;
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}

nav ul li {
	display: inline-block;
	background-color: #E0EBF5;
}

nav a {
    cursor: pointer;
	display: block;
    color: #233 !important;
    padding: 0px 8px;
	text-decoration: none;
}

nav ul li:hover > a {
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}

nav ul ul li {
    background: white;
}

nav ul ul {
	display: none;
	position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
}

nav ul li:hover > ul, nav ul a:active + ul {
	display: inherit;
}

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

.reply-toggle:checked + label + .reply-view {
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reply-toggle:checked + label + .reply-view + .bg {
    display: block;
}

.reply-view {
    text-align: left;
    max-width: 600px;
    width: 90%;
    position: fixed;
    background: white;
    z-index: 10000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    display: none;
}

.reply-view td {
    padding: 0.4em 1em;
}

.reply-view + .bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
    background: rgba(0,0,0,0.1);
}

.paging {
    text-align:center;
    margin:1em;
}

.paging a {
    display: inline-block;
    margin: 0 0.2em;
}

button.none {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   border: none;
   cursor: pointer;
   background: transparent;
}

.pure-material-button-outlined {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    padding: 0 16px;
    min-width: 64px;
    height: 34px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: transparent;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.pure-material-button-outlined::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-outlined::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-outlined::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1) ;
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-outlined:hover::before {
    opacity: 0.12;
}

.pure-material-button-outlined:focus::before {
    opacity: 0.16;
}

.pure-material-button-outlined:hover:focus::before {
    opacity: 0.20;
}

/* Active */
.pure-material-button-outlined:active::after {
    opacity: 0.20;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-outlined:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: transparent;
    cursor: initial;
}

.pure-material-button-outlined:disabled::before {
    opacity: 0;
}

.pure-material-button-outlined:disabled::after {
    opacity: 0;
}

.pure-material-button-outlined:hover {
    text-decoration: none;
}

span.mobile {
    display: none;
}

@media only screen and (max-width: 540px) {
    .articles.small tr {
        display: block;
    }

    .articles.small td {
        display: inline-block;
    }

    .articles.small td.nowrap {
        width: inherit;
    }

    .articles.small td.nowrap, .articles.small td.nowrap * {
        font-size: 90%;
    }

    .articles.small .date {
        float: right;
    }

    .articles.small td:first-child {
        width: 100%;
    }

    .reply-view {
        width: 100%;
    }

    span.mobile {
        display: inherit;
    }
}
