/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/s/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/s/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/s/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/s/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/s/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/s/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/s/fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/s/fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/s/fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/s/fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/s/fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/s/fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

code {
    font-family: monospace;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

a, label[for=login] {
    cursor: pointer;
    text-decoration: none;
    color: #2a66d9;
}

a:hover, label[for=login]:hover {
    text-decoration: underline;
}

.vcenter {
    vertical-align: middle;
}

hr {
    border-color: rgba(0, 0, 0, 0.1);
    border-style: dotted;
}

.articles {
    width: 100%;
    border-collapse: collapse;
}

.articles th {
    line-height: 2.2em !important;
    text-align: left;
    background: #f7f8f9;
}

.articles th, .articles td {
    padding: 0.4em; 
    line-height: 1.5em;
}

.articles tr.sep {
    border-bottom: solid 1px #ddd;
}

.articles th.nowrap, .articles td.nowrap {
    white-space: nowrap;
    width: 1px;
}

input.t, textarea, select.t {
    width: 100%;
    resize: none;
}

input.t, textarea, input.s {
    border: solid 1px #ccc;
    padding: 4px 6px;
}

pre {
    font: inherit;
    white-space: pre-wrap;
    word-break: break-all;
}

nav {
    line-height: 2.25em;
    text-align: center;
    padding: 0 8px;
    margin: 0.5em 0;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}

nav ul li { display: inline-block; margin: 0 0.5em }

nav ul li a { border-bottom: solid 2px #ddd; }

nav ul li.selected a { border-color: #088; font-weight: bold;}

nav ul li.selected { display: inline-block !important; }

nav a {
    cursor: pointer;
	display: block;
    color: #233 !important;
	text-decoration: none;
}

nav ul li:hover > a {
    text-decoration: none;
}

.paging {
    text-align:center;
    margin:1em;
}

.paging a {
    display: inline-block;
    margin: 0 0.2em;
}

.gbutton {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    padding: 0 6px;
    height: 34px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: transparent;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.gbutton::-moz-focus-inner {
    border: none;
}

/* Overlay */
.gbutton::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.gbutton::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1) ;
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.gbutton:hover::before {
    opacity: 0.12;
}

.gbutton:focus::before {
    opacity: 0.16;
}

.gbutton:hover:focus::before {
    opacity: 0.20;
}

/* Active */
.gbutton:active::after {
    opacity: 0.20;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.gbutton:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: transparent;
    cursor: initial;
}

.gbutton:disabled::before {
    opacity: 0;
}

.gbutton:disabled::after {
    opacity: 0;
}

.gbutton:hover {
    text-decoration: none;
}

div.subreply {
    padding-left:1.5em;
}

div.subreply .row-header {
    background: transparent;
    padding: 0;
    margin: 0;
}

div.subreply .row {
    margin: 0;
}

div.row {
    background: #f1f2f3;
    margin: 0.5em;
    border-radius: 5px;
    overflow: hidden;
}

div.row-header {
    margin: -0.5em -0.5em 0 -0.5em;
    background: rgba(0,0,0,0.05);
    padding: 0.5em;
    position: relative;
}

div.row-header > * {
    margin-right: 0.33em;
    display: inline-block;
}

span.deleted:before {
}

span.time.sec:after { content: '秒前' }
span.time.min:after { content: '分钟前' }
span.time.hour:after { content: '小时前' }
span.time.day:after { content: '天前' }

span.deleted:after {
    content: '内容已删除，不要想了';
    text-shadow: 0 0 5px #667;
    color: transparent;
}

a.unread {
    display:inline-block;
    color:white;
    background:#FF5722;
    padding:0 0.5em;
    border-radius:8px;
    min-width:20px;
    text-align:center;
    line-height:20px;
    font-size:12px;
    vertical-align:middle;
    margin:0 0.33em; 
}

.status {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    padding: 0.5em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    background: #fcfdfe;
    margin: 0.5em 0;
}

.status > span {
    line-height: 1.66em;
    display: inline-block;
    width: 64px;
    border-right: dotted 1px #ccc;
}

.status span:last-child {
    border: none;
}

.status span b, .status span a {
    font-size: 16px;
    text-decoration: none !important;
}

.status .title {
    margin:-0.5em 0 0.5em;line-height:2.25em;border-bottom:dotted 1px #ccc;
}

.status .title > span {
    display: inline-block;
    width: 64px;
}

span.mod {
    color: #673ab7;
    font-weight: bold;
}

img.avatar {
    border-radius:3px;display:inline-block;vertical-align:middle;margin-right:0.75em;max-width:36px;max-height:36px;overflow:hidden
}

.icon-flow-merge:before { margin-left: 0 !important }

@media only screen and (max-width: 540px) {
    .row {
        margin-right: 0.1em;
        margin-left: 0.1em;
    }
}
