{{if eq .ShowList 255}}
<span class=post-author>
    <span style="opacity:0.5">{{.ID}}</span>
</span>
{{else if .IsAnon}}
<span class=post-author>
    <strong class=tmpl-mid-text><i class=icon-user-secret></i> 匿名</strong>
</span>
{{else}}
<span class=post-author data="{{.CustomName}}">
    {{if .Banned}}<span><strong>封禁</strong></span>{{end}}
    {{if .IsAPI}}<i class="icon-android tmpl-green-text"></i>{{end}}

    <a href="/t/{{urlquery .ID}}" class="tmpl-normal-text">
        {{if .CustomName}}
        <strong>{{.CustomName}}</strong>
        <span mod={{.IsMod}} {{if not .IsMod}}class="tmpl-mid-text"{{end}}>@{{.ID}}</span>
        {{else}}
        <strong mod={{.IsMod}}>{{.DisplayName}}</strong>
        {{end}}
    </a>
</span>
{{end}}
