{{template "header.html" .}}

<style>
table {
    max-width: 500px;
}
tr {
    border: none !important;
}
</style>

<form method="POST" action="/delete" style="padding: 0.5em;text-align:center">
    To {{.Article.Author}}: 删除操作不可逆<br>
    <input type=hidden name=reply value="{{.Reply}}">
    <input type=hidden name=uuid value="{{.UUID}}">
    <button class="gbutton" type=submit>删除发言</button>
    <a class="gbutton" href="{{if .Reply}}/p/{{.Reply}}{{else}}/cat{{end}}">取消删除{{.Reply}}</a>
</form>

{{if .IsAdmin}}
                <title>编辑: {{.Article.ID}}</title>
                <hr>
<form method="POST" action="/edit">
    <table class=articles>
        <tr>
        <input type=hidden name=uuid value="{{.UUID}}">
        <input type=hidden name=reply value="{{.Reply}}">
            <tr>
                <td class=nowrap>IP:</td>
                <td><span>{{.Article.IP}}</span></td>
            </tr>
            {{if not .Article.Parent}}
            <tr>
                <td class=nowrap>标题:</td>
                <td><input class=t name=title value="{{.Article.Title}}"></td>
            </tr> 
            <tr>
                <td class=nowrap>分类:</td>
                <td>
                    <select class=t name=cat>
                        <option value="default">default</option>
                        {{range .Tags}}<option value="{{.}}" {{if eq $.Article.Category .}}selected{{end}}>{{.}}</option>{{end}}
                    </select>
                </td>
            </tr>
            {{end}}
            <tr>
                <td class=nowrap>内容:</td>
                <td><textarea rows=10 name="content">{{.Article.Content}}</textarea></td>
            </tr>  
            <tr>
                <td></td>
                <td>
                    <input id=locked name=locked type=checkbox {{if .Article.Locked}}checked{{end}}>
                    <label for=locked >锁定</label>&emsp;
                    <input id=highlighted name=highlighted type=checkbox {{if .Article.Highlighted}}checked{{end}}>
                    <label for=highlighted >高亮</label>&emsp;
                    <input id=saged name=saged type=checkbox {{if .Article.Saged}}checked{{end}}>
                    <label for=saged >SAGE</label>&emsp;
                    <input id=banned name=banned type=checkbox {{if .IsAuthorBanned}}checked{{end}}>
                    <label for=banned >封{{.Article.Author}}</label>&emsp;
                </td>
            </tr>
            <tr>
                <td></td><td style="text-align: right">
                    <button class="gbutton" type=submit>编辑</button>
                </td>
            </tr>
    </table>
</form>
{{end}}

