
<style>
emoji {
	position: relative;
	display: inline-block;
    line-height: 2em;
    cursor: pointer;
}

emoji li:hover, emoji li:hover button {
	background-color: #E0EBF5;
}

emoji > ul {
	display: none;
    background: white;
	position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    max-height: 128px;
    overflow-y: scroll;
}

emoji:hover {
    display: block;
    width: 100%;
}

emoji:hover > ul {
	display: flex;
    width: 100%;
    flex-wrap: wrap;
    z-index: 100;
}

emoji ul li {
    min-width: 64px;
	float: none;
	display: list-item;
    list-style: none;
	position: relative;
    background: white;
    padding: 0.33em 0.66em;
    overflow: hidden;
}

emoji button {
    -webkit-appearance: none;
    -moz-appearance:    none;
    background :transparent;
    appearance: none;
    border: none;
    display: block;
    cursor: pointer;
    line-height: 1.5em;
    width: 100%;
}
</style>

<emoji>
<div class=gbutton>( ﾟ∀ﾟ)</div>
<ul>
    <li><button type=submit name=emoji value="|∀ﾟ">|∀ﾟ</button></li>
    <li><button type=submit name=emoji value="(´ﾟДﾟ`)">(´ﾟДﾟ`)</button></li>
    <li><button type=submit name=emoji value="(;´Д`)">(;´Д`)</button></li>
    <li><button type=submit name=emoji value="(｀･ω･)">(｀･ω･)</button></li>
    <li><button type=submit name=emoji value="(=ﾟωﾟ)=">(=ﾟωﾟ)=</button></li>
    <li><button type=submit name=emoji value="| ω・´)">| ω・´)</button></li>
    <li><button type=submit name=emoji value="|-` )">|-` )</button></li>
    <li><button type=submit name=emoji value="|д` )">|д` )</button></li>
    <li><button type=submit name=emoji value="|ー` )">|ー` )</button></li>
    <li><button type=submit name=emoji value="|∀` )">|∀` )</button></li>
    <li><button type=submit name=emoji value="(つд⊂)">(つд⊂)</button></li>
    <li><button type=submit name=emoji value="(ﾟДﾟ≡ﾟДﾟ)">(ﾟДﾟ≡ﾟДﾟ)</button></li>
    <li><button type=submit name=emoji  value="(＾o＾)ﾉ">(＾o＾)ﾉ</button></li>
    <li><button type=submit name=emoji value="(|||ﾟДﾟ)">(|||ﾟДﾟ)</button></li>
    <li><button type=submit name=emoji value="( ﾟ∀ﾟ)">( ﾟ∀ﾟ)</button></li>
    <li><button type=submit name=emoji value="( ´∀`)">( ´∀`)</button></li>
    <li><button type=submit name=emoji value="(*´∀`)">(*´∀`)</button></li>
    <li><button type=submit name=emoji value="(*ﾟ∇ﾟ)">(*ﾟ∇ﾟ)</button></li>
    <li><button type=submit name=emoji value="(*ﾟーﾟ)">(*ﾟーﾟ)</button></li>
    <li><button type=submit name=emoji value="(　ﾟ 3ﾟ)">(　ﾟ 3ﾟ)</button></li>
    <li><button type=submit name=emoji value="( ´ー`)">( ´ー`)</button></li>
    <li><button type=submit name=emoji value="( ・_ゝ・)">( ・_ゝ・)</button></li>
    <li><button type=submit name=emoji value="( ´_ゝ`)">( ´_ゝ`)</button></li>
    <li><button type=submit name=emoji value="(*´д`)">(*´д`)</button></li>
    <li><button type=submit name=emoji value="(・ー・)">(・ー・)</button></li>
    <li><button type=submit name=emoji value="(・∀・)">(・∀・)</button></li>
    <li><button type=submit name=emoji value="(ゝ∀･)">(ゝ∀･)</button></li>
    <li><button type=submit name=emoji value="(〃∀〃)">(〃∀〃)</button></li>
    <li><button type=submit name=emoji value="(*ﾟ∀ﾟ*)">(*ﾟ∀ﾟ*)</button></li>
    <li><button type=submit name=emoji value="( ﾟ∀。)">( ﾟ∀。)</button></li>
    <li><button type=submit name=emoji value="( `д´)">( `д´)</button></li>
    <li><button type=submit name=emoji value="(`ε´ )">(`ε´ )</button></li>
    <li><button type=submit name=emoji value="(`ヮ´ )">(`ヮ´ )</button></li>
    <li><button type=submit name=emoji value="σ`∀´)">σ`∀´)</button></li>
    <li><button type=submit name=emoji value=" ﾟ∀ﾟ)σ"> ﾟ∀ﾟ)σ</button></li>
    <li><button type=submit name=emoji value="ﾟ ∀ﾟ)ノ">ﾟ ∀ﾟ)ノ</button></li>
    <li><button type=submit name=emoji value="(╬ﾟдﾟ)">(╬ﾟдﾟ)</button></li>
    <li><button type=submit name=emoji value="(|||ﾟдﾟ)">(|||ﾟдﾟ)</button></li>
    <li><button type=submit name=emoji value="( ﾟдﾟ)">( ﾟдﾟ)</button></li>
    <li><button type=submit name=emoji value="Σ( ﾟдﾟ)">Σ( ﾟдﾟ)</button></li>
    <li><button type=submit name=emoji value="( ;ﾟдﾟ)">( ;ﾟдﾟ)</button></li>
    <li><button type=submit name=emoji value="( ;´д`)">( ;´д`)</button></li>
    <li><button type=submit name=emoji value="(　д ) ﾟ ﾟ">(　д ) ﾟ ﾟ</button></li>
    <li><button type=submit name=emoji value="( ☉д⊙)">( ☉д⊙)</button></li>
    <li><button type=submit name=emoji value="(((　ﾟдﾟ)))">(((　ﾟдﾟ)))</button></li>
    <li><button type=submit name=emoji value="( ` ・´)">( ` ・´)</button></li>
    <li><button type=submit name=emoji value="( ´д`)">( ´д`)</button></li>
    <li><button type=submit name=emoji value="( -д-)">( -д-)</button></li>
    <li><button type=submit name=emoji value="(>д<)">(&gt;д&lt;)</button></li>
    <li><button type=submit name=emoji value="･ﾟ( ﾉд`ﾟ)">･ﾟ( ﾉд`ﾟ)</button></li>
    <li><button type=submit name=emoji value="( TдT)">( TдT)</button></li>
    <li><button type=submit name=emoji value="(￣∇￣)">(￣∇￣)</button></li>
    <li><button type=submit name=emoji value="(￣3￣)">(￣3￣)</button></li>
    <li><button type=submit name=emoji value="(￣ｰ￣)">(￣ｰ￣)</button></li>
    <li><button type=submit name=emoji value="(￣ . ￣)">(￣ . ￣)</button></li>
    <li><button type=submit name=emoji value="(￣皿￣)">(￣皿￣)</button></li>
    <li><button type=submit name=emoji value="(￣艸￣)">(￣艸￣)</button></li>
    <li><button type=submit name=emoji value="(￣︿￣)">(￣︿￣)</button></li>
    <li><button type=submit name=emoji value="(￣︶￣)">(￣︶￣)</button></li>
    <li><button type=submit name=emoji value="ヾ(´ωﾟ｀)">ヾ(´ωﾟ｀)</button></li>
    <li><button type=submit name=emoji value="(*´ω`*)">(*´ω`*)</button></li>
    <li><button type=submit name=emoji value="(・ω・)">(・ω・)</button></li>
    <li><button type=submit name=emoji value="( ´・ω)">( ´・ω)</button></li>
    <li><button type=submit name=emoji value="(｀・ω)">(｀・ω)</button></li>
    <li><button type=submit name=emoji value="(´・ω・`)">(´・ω・`)</button></li>
    <li><button type=submit name=emoji value="(`・ω・´)">(`・ω・´)</button></li>
    <li><button type=submit name=emoji value="( `_っ´)">( `_っ´)</button></li>
    <li><button type=submit name=emoji value="( `ー´)">( `ー´)</button></li>
    <li><button type=submit name=emoji value="( ´_っ`)">( ´_っ`)</button></li>
    <li><button type=submit name=emoji value="( ´ρ`)">( ´ρ`)</button></li>
    <li><button type=submit name=emoji value="( ﾟωﾟ)">( ﾟωﾟ)</button></li>
    <li><button type=submit name=emoji value="(oﾟωﾟo)">(oﾟωﾟo)</button></li>
    <li><button type=submit name=emoji value="(　^ω^)">(　^ω^)</button></li>
    <li><button type=submit name=emoji value="(｡◕∀◕｡)">(｡◕∀◕｡)</button></li>
    <li><button type=submit name=emoji value="/( ◕‿‿◕ )\">/( ◕‿‿◕ )\</button></li>
    <li><button type=submit name=emoji value="ヾ(´ε`ヾ)">ヾ(´ε`ヾ)</button></li>
    <li><button type=submit name=emoji value="(ノﾟ∀ﾟ)ノ">(ノﾟ∀ﾟ)ノ</button></li>
    <li><button type=submit name=emoji value="(σﾟдﾟ)σ">(σﾟдﾟ)σ</button></li>
    <li><button type=submit name=emoji value="(σﾟ∀ﾟ)σ">(σﾟ∀ﾟ)σ</button></li>
    <li><button type=submit name=emoji value="|дﾟ )">|дﾟ )</button></li>
    <li><button type=submit name=emoji value="┃電柱┃">┃電柱┃</button></li>
    <li><button type=submit name=emoji value="ﾟ(つд`ﾟ)">ﾟ(つд`ﾟ)</button></li>
    <li><button type=submit name=emoji value="ﾟÅﾟ )　">ﾟÅﾟ )　</button></li>
    <li><button type=submit name=emoji value="⊂彡☆))д`)">⊂彡☆))д`)</button></li>
    <li><button type=submit name=emoji value="⊂彡☆))д´)">⊂彡☆))д´)</button></li>
    <li><button type=submit name=emoji value="⊂彡☆))∀`)">⊂彡☆))∀`)</button></li>
    <li><button type=submit name=emoji value="(´∀((☆ミつ">(´∀((☆ミつ</button></li>
</ul>
</emoji>


