<div class=enc-box style="margin: 0.5em 0;">
    <input class=t style="border:none" placeholder="密码" onkeyup="if(event.keyCode==13)this.nextElementSibling.querySelector('button').click()">
    <div style="white-space:nowrap">
        <button
            class=gbutton
            onclick="
            p=this.parentNode.parentNode;
            $aesgcm().decrypt('{{.}}',p.querySelector('input').value,function(t){
                      if (t === false) {
                          $popup('密码错误')
                          return
                      }
                      p.outerText = t
    })">打开</button>
    </div>
</div>
