{{if .}}
<div>
{{if eq . "ok"}}
<i style="color: #088" class="icon-ok-circled"></i>
{{else}}
<i style="color: #f52" class="icon-cancel-circled-1"></i>
{{end}}

{{$cd := isCDError .}}
{{$it := isITError .}}

{{if $cd}}
操作过快，请等待{{$cd}}s
{{else if eq . "guard/failed-captcha"}}
无效验证码
{{else if eq . "guard/token-expired"}}
Token过期，请重试
{{else if eq . "content/too-short"}}
正文过短
{{else if eq . "title/too-short"}}
标题过短
{{else if eq . "error/can-not-reply"}}
无法回复
{{else if eq . "internal/error"}}
服务端异常
{{else if eq . "guard/id-not-existed"}}
ID不存在
{{else if eq . "user/not-logged-in"}}
请登入后操作
{{else if eq . "password/invalid-too-short"}}
密码太短或不符
{{else if eq . "id/already-existed"}}
ID已存在
{{else if eq . "id/too-short"}}
无效ID
{{else if eq . "ok/username-changed"}}
注册成功，但是请注意你的登入用户名内非法字符已经被过滤为下划线“_"
{{else if eq . "ok"}}
操作成功
{{else if $it}}
图片功能暂时限制，请等待{{$it}}s
{{else if eq . "NOT FOUND"}}
404未找到
{{else}}
错误: {{.}}
{{end}}
</div>
{{end}}
