{{template "header.html" .}}
<title>错误</title>
<div style="padding:1em;text-align:center" class=row>
    {{if .ApplyFwID}}
    <div>
      {{if .IsFollowing}}
      等待{{template "display_name.html" .ApplyFwID}}批准你的关注
      {{else}}
      {{template "display_name.html" .ApplyFwID}}隐藏了动态，你需要
      {{template "button_follow_block.html" (blend "follow" .ApplyFwID.ID false)}}
      并等待其批准
      {{end}}
    </div>
    {{else}}
    {{if .Msg}}
    {{if eq .Msg "search-timeout"}}
    搜索超时/过于复杂
    {{else}}
    {{.Msg}}
    {{end}}
    {{else}}
    404 未找到内容
    {{end}}
    {{end}}

</div>
