</div>
<div id="footer" style="word-break:break-all;line-height:2.25em;position:absolute;right:0;bottom:0;left:0;padding:0 1em;background:#eee;box-shadow:0 -1px 0px #ccc;">
    {{if .User}}
    ID / <a href='/user'>{{.User.ID}}</a>
    {{if .User.Unread}}
        <a class=unread href="/t/:in">{{.User.Unread}} 消息</a>
    <script>
        window.OLD_TITLE = document.title;
        window.BLINK = 0;
        setInterval(function() {
            document.title = ((window.BLINK++) % 2 === 0 ? "[新消息] " : "[　　　] ") + window.OLD_TITLE
        }, 1000)
    </script>
    {{end}}
    {{else}}
    ID / <a href="/user">登入</a>
    {{end}}

    <span style="float:right">IIS / {{.Render}}ms</span>
</div>

{{if .User.AutoNSFW}}
    <script>
        var el = sel(".gbutton.nsfw-clicker");
        for (var i = 0 ; i < el.length; i++) el[i].click();
    </script>
{{end}}

</html>
