<div style="word-break:break-all;line-height:2em;padding:0.5em;background:#f3f4f5;text-align:center;border-radius:5px" class=row>
    {{if .User}}
    <a href='/user'>@{{.User.ID}}</a>
    {{if .User.Unread}}
        <a class=unread href="/t/:in">{{.User.Unread}} 消息</a>
    <script>
        document.title =  "({{.User.Unread}}) " + document.title;
    </script>
    {{end}}
    {{else}}
    ID / <a href="/user">登入</a>
    {{end}}

    <div style="font-size:12px">IIS <script>document.write(new Date().getFullYear())</script> in {{.Render}}ms</div>
</div>

    <script>
        function expandNSFW() {
{{if .User.AutoNSFW}}
            var el = sel(".gbutton.nsfw-clicker");
            for (var i = 0 ; i < el.length; i++) el[i].click();
{{end}}
        }
        expandNSFW();
    </script>

</div>
</html>
