<!doctype html>
<html>
    <link href="/s/css/default.25.css" rel="stylesheet" type="text/css" media="all">
    <link href="/s/fonts/fontello-embedded.css?ver=22" rel="stylesheet" type="text/css" media="all">
    <script src="/s/js/default.27.js"></script>
    <script src="/s/js/post.15.js"></script>
    <script src="/s/js/tribute.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/s/css/favicon.png">

    <script>
        if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) {
            document.write('<style>body, button, input, textarea {font-size: 16px }</style>')
        }

        window.TRIBUTE_COL = {
            trigger: '@',
            selectClass: 'highlight',
            containerClass: 'tribute-container',
            selectTemplate: function (item) { return '@' + item.original.key; },
            menuContainer: document.body,
            lookup: 'key',
            values: function remoteSearch(text, cb) {
                $post("/api/search", { id: text }, function(results) {
                    if (results && results.length) {
                        results.forEach(function(t, i) {
                            results[i] = { key: t.substring(1) } 
                        });
                        JSON.parse(window.localStorage.getItem('presets') || '[]')
                            .filter(function(t){ return t; })
                            .forEach(function(t) { results.push({ key: t.substring(1) }) });
                        var seen = {};
                        results = results.filter(function(item) {
                            return seen.hasOwnProperty(item.key) ? false : (seen[item.key] = true);
                        });
                        cb(results);
                    }
                })
            },
            replaceTextSuffix: '\n',
            positionMenu: true,
        }

        window.TRIBUTE_COL_TAGS = {
            trigger: '#',
            selectClass: 'highlight',
            containerClass: 'tribute-container',
            selectTemplate: function (item) { return '#' + item.original.key; },
            menuContainer: document.body,
            lookup: 'key',
            values: window.TRIBUTE_COL.values,
            replaceTextSuffix: '\n',
            positionMenu: true,
        }

        window.TRIBUTER = new Tribute({
            collection: [window.TRIBUTE_COL, window.TRIBUTE_COL_TAGS],
        });

        window.onmousemove = function(e) {
            if (!window.REGTICK) {
                window.requestAnimationFrame(function() {
                    var x = e.clientX || e.left, y = e.clientY || e.top;
                    window.REGIONS = (window.REGIONS || []).filter(function(rect) { return rect.valid; })
                    window.REGIONS.forEach(function(rect) {
                        var inside = false, margin = 5;
                        rect.boxes.forEach(function(el) {
                            var box = el.getBoundingClientRect();
                            inside = inside || (
                                x >= box.left - margin &&
                                x <= box.right + margin &&
                                y >= box.top - margin &&
                                y <= box.bottom + margin);
                        })
                        if (!inside) {
                            try {
                                rect.callback(x, y);
                            } catch(e) {
                                console.log(e)
                            }
                            rect.valid = false;
                        }
                    })
                    window.REGTICK = false;
                });
                window.REGTICK = true;
            }
        }
        window.ontouchend = function(e) {
            var el = e.changedTouches[0];
            if (el) window.onmousemove(el);
        }
    </script>

<body>
    <div id="container" style="" class=container>
    <nav>
        <ul>
            <li id="nav-own"><a href="/t">我的时间线</a></li>
            <li id="nav-master"><a href="/t/master"><i class="icon-flow-merge"></i>广场</a></li>
            <li id="nav-inbox" style="display:none"><a>我的提醒</a></li>
            <li id="nav-user-info" style="display:none"><a>我的设置</a></li>
            <li id="nav-login" style="display:none"><a>注册</a></li>
            <li id="nav-followings" style="display:none"><a><span>我</span>的关注</a></li>
            <li id="nav-likes" style="display:none"><a><span>我</span>的收藏</a></li>
            <li id="nav-blacklist" style="display:none"><a>黑名单</a></li>
            <li id="nav-followers" style="display:none"><a><span>我</span>的粉丝</a></li>
            <li id="nav-other" style="display:none"><a></a></li>
            <!--<li id="nav-tagheat"><a href="/hot">热门</a></li>-->
            <li id="nav-tag" style="display:none"><a><b class=follow-block></b>&nbsp;<span></span></a></li>
        </ul>
    </nav>

