{{template "header.html" .}}
<title>梨名板</title>

<div style="margin: 1em;line-height: 2.5em">
    <a class="pure-material-button-outlined" href="/cat">进入</a><br><br>
    <script>
        document.write("本站不需要JS即可实现所有功能，你可以使用插件关闭本站所有页面的JS脚本执行能力<br>")
    </script>
    <form action="/cookie" method="POST">
        本站不需要Cookie即可实现所有功能，但你也可以将ID保存进Cookie里避免反复输入同样的字符串（ID需要至少5个字节）：<br>
        <input class=s size=30 name=id value="{{.ID}}" placeholder="Cookie ID"><br>
        <button class="pure-material-button-outlined" type=submit>更新我的ID</button><br>
        <button class="pure-material-button-outlined" type=submit name=clear value=1>清除ID</button><br>
        <button class="pure-material-button-outlined" type=submit name=view value=1>查看ID发言</button><br><br>
        本站的主题/回复链接为动态生成与IP绑定，默认有效期10分钟，过期链接即变为404失效。这样设计是为了防止历史记录泄露浏览信息。如果你觉得不便，可以关闭/打开混淆：<br>
        <button class="pure-material-button-outlined" type=submit name=noobfs value=1>
            {{if not .IsCrawler}}
            停止链接混淆
            {{else}}
            开启链接混淆
            {{end}}
        </button><br><br>
        当前运行配置：<br>
        <pre style="font-family: monospace;line-height:1.1em;font-size:12px;">{{.Config}}</pre>
        {{if .IsAdmin}}
        <button class="pure-material-button-outlined" type=submit name=needid value=1>开关匿名ID</button><br>
        {{end}}
    </form>
</div>


{{template "footer.html" .}}
