{{template "header.html" .}}
<title>梨名板</title>

    {{if not .User}}
<div style="margin: 0.5em 0;line-height: 2em">
    <!--[if lte IE 9]> 
        <div style="color:red">
        本站不支持IE9及以下版本
        </div>
    <![endif]-->

    <form method="POST" action="/user" style="margin-top: 1em" onsubmit="return false">
        <table class="articles">
            <tr>
                <td colspan=2 style="text-align:center"><img src="/eriri" style="margin:0 auto"></td>
            </tr>
            <tr>
                <td colspan=2 style="text-align:center">
                    欢迎来到sserr.net，一个自由开放的微博系统
                </td>
            </tr>
            <tr>
                <td class=nowrap>用户名:</td>
                <td><input autofocus class=t name=username value required></td>
            </tr>
            <tr>
                <td class=nowrap>密码:</td>
                <td><input type=password class=t name=password value required></td>
            </tr>
            <tr>
                <td colspan=2 style="text-align:right">
                    <button class="gbutton"
                            type=submit
                            onclick="$postReload(this,'/api2/login',{
                            'username': $q('[name=username]').value,
                            'password': $q('[name=password]').value})">登入</button>
                    <a class=gbutton style="float:left" href="/user">注册新用户</a>
                </td>
            </tr>
        </table>
    </form>
</div>
    {{else}}
    <div class=status-box>
    {{template "user_private.html" .User}}
    </div>
    {{end}}


