<div>
{{$one := eq (len .Urls) 1}}
{{range $i, $v := .Urls}}
    {{if eq $i $.InitShow}}
    <div class="media cell {{if $one}}large{{end}} tmpl-light-bg" style="border:solid 1px rgba(0,0,0,0.1)">
        <button
            class="gbutton {{if $.NSFW}}nsfw-clicker tmpl-nsfw-text{{end}}"
            style="display:block;width:100%;height:100%"
            onclick="
            (function(el) {
                el.style.display='none';
                var cells = el.parentNode.querySelectorAll('.media.cell');
                for (var i = 0; i < cells.length; i++) {
                    if (cells[i] !== el)  {
                        cells[i].style.display = null;
                        var img = cells[i].querySelector('img');
                        if (!img.src) img.src = img.getAttribute('data-src');
                    }
                }
            })(this.parentNode)
            ">
            {{if not $one}}
            + {{sub (len $.Urls) $.InitShow}}
            {{end}}
            {{if $.NSFW}}
            <a style="display:inline" value=true><i class="icon-eye-off"></i> <span class=tmpl-nsfw-text>NSFW</span></a>
            {{end}}
        </button>
    </div>
    {{end}}

    {{$hide := ge $i $.InitShow}}
    {{if $v}}
    <div image-index="{{$i}}" class="media cell {{if $one}}large{{end}}" style="{{if $hide}}display:none{{end}};background-image:url(/s/assets/spinner2.gif)">
        <a target=_blank><img onload="adjustImage(this)" {{if $hide}}data-{{end}}src="{{index $.Thumbs $i}}"></a>
        <div class="image-index open-blank image-enlarge-badge" onclick='window.open("{{$v}}");event.stopPropagation()'>原图 <i class=icon-export-alt></i></div>
        <span class="image-index long-image">长图</span>
        <span class="image-index image-enlarge-badge" style="{{if $one}}display:none{{end}}">{{printf "%X" (sub $i -1)}}</span>
	<!--
        {{if ne $i (sub (len $.Urls) 1)}}
        <span
            class="image-index image-next icon-up-big"
            onclick='(function(_this) {
                try { _this.parentNode.parentNode.querySelector("button").click() } catch (e) {}
                var el = _this.parentNode.parentNode.querySelector("[image-index=\"{{sub $i -1}}\"]");
                el.click();
                el.scrollIntoView();
                event.stopPropagation();
            })(this)'></span>
        {{else if not $one}}
        <span
            class="image-index image-next icon-ok"
            onclick='(function(_this) {
                _this = _this.parentNode.parentNode;
                var els = _this.querySelectorAll(".media.cell");
                for (var i = 0 ; i < els.length; i++) {
                    if (els[i].hasAttribute("enlarge")) els[i].click();
                }
                _this.querySelector("[image-index=\"0\"]").scrollIntoView();
                event.stopPropagation();
            })(this)'>
        </span>
        {{end}}
-->
    </div>
    {{end}}
{{end}}
</div>
