<div style="white-space:normal">
{{range $i, $v := .Urls}}
    {{if eq $i $.InitShow}}
    <div class="media cell tmpl-light-bg">
        <button
            class="gbutton {{if $.NSFW}}nsfw-clicker{{end}}"
            style="display:block;width:100%;height:100%"
            onclick="
            (function(el) {
                el.style.display='none';
                var cells = el.parentNode.querySelectorAll('.media.cell');
                for (var i = 0; i < cells.length; i++) {
                    if (cells[i] !== el)  {
                        cells[i].style.display = null;
                        var img = cells[i].querySelector('img');
                        if (!img.src) img.src = img.getAttribute('data-src');
                    }
                }
            })(this.parentNode)
            ">
            + {{sub (len $.Urls) $.InitShow}}
            {{if $.NSFW}}
            <a style="display:inline" value=true><i class="icon-transgender-alt"></i> NSFW</a>
            {{end}}
        </button>
    </div>
    {{end}}

    {{$hide := ge $i $.InitShow}}
    {{$one := eq (len $.Urls) 1}}
    {{if $v}}
    <div class="media cell {{if $one}}large{{end}}" style="{{if $hide}}display:none{{end}}">
        <a target=_blank><img onload="adjustImage(this)" {{if $hide}}data-{{end}}src="{{$v}}?thumb=1"></a>
        <div class="image-index open-blank image-enlarge-badge" onclick='window.open("{{$v}}");event.stopPropagation()'>原图 <i class=icon-export-alt></i></div>
        <span class="image-index long-image">长图</span>
        <span class="image-index image-enlarge-badge" style="{{if $one}}display:none{{end}}">{{printf "%X" (sub $i -1)}}</span>
    </div>
    {{end}}
{{end}}
</div>
