{{template "header.html" .}}

<table class="articles small">
    <tr>
        {{$authorTag := eq .Type "id"}}
        {{if eq .Type "id"}}
        <title>{{.SearchTerm}}的相关发言 {{.Title}}</title>
        <th>{{.SearchTerm}}的相关发言</th>
        {{else if eq .Type "tag"}}
        <title>{{.SearchTerm}} {{.Title}}</title>
        <th>#{{.SearchTerm}}</th>
        {{else}}
        <title>{{.Title}}</title>
        <th>标题</th>
        {{end}}
        <th class=nowrap>分类</th>
        <th class=nowrap>作者</th>
        <th class=nowrap>日期</th>
        <th class="nowrap state">RE</th>
        <th class="nowrap state">VE</th>
    </tr>
    {{if len .Articles}}
    {{range .Articles}}
    <tr class="row">
        <td class="row">{{template "row_tags.html" .}}</td>
        <td class="nowrap">
                {{if .Announce}}
                <b>公告</b>
                {{else}}
                <span class=mobile><b>#</b></span>{{if not .Parent}}<a href="/cat/{{.Category}}">{{.Category}}</a>{{else}}{{if .BeReplied}}被{{end}}回复{{end}}
            {{end}}
        </td>
        <td class="nowrap"><a href="/id/{{.Author}}">{{.Author}}</a></td>
        <td class="nowrap date"><span>{{.CreateTimeString false}}</span></td>
        <td class="nowrap state">{{if .Replies}}<span>{{.Replies}}</span><span class=mobile>回复</span>{{end}}</td>
        <td class="nowrap state">{{if .Views}}<span>{{.Views}}</span><span class=mobile>浏览</span>{{end}}</td>
    </tr>
    {{if or $authorTag .Parent}}
    <tr class=dark>
        <td colspan=6><div class=reply><pre>{{.ContentAbstract}}</pre></div></td>
    </tr>
    {{end}}
    {{end}}
    {{else}}
    <tr><td colspan=6>无内容</td></tr>
    {{end}}
</table>


<div class="paging" id="paging">
    {{if not .NoPrev}}
    <a href="?n={{.Prev}}">&laquo; 上页</a>
    <a href="?n=0">首页</a>
    {{end}}
    <a href="?n={{.Next}}">下页 &raquo;</a>
</div>

{{template "footer.html" .}}
