{{template "header.html" .}}

<div style="padding:0.5em;line-height:2em">
{{if .SearchTerm}}
        <title>{{.SearchTerm}} 的相关发言</title>
        <span style="font-size:18px">
            {{.SearchTerm}}
            {{if .User}}
                {{if .User.IsMod}}<b style="font-size:18px;color:purple">mod</b>{{end}}
                {{if .User.Banned}}<b style="font-size:18px;color:red">封禁</b>{{end}}
            {{end}}
            {{if .IsTagInbox}}收件箱{{else}}相关发言{{end}}
        </span>
        {{if and .User .IsAdmin}}
        <div>
        <a class=gbutton href="/user?as={{.User.ID}}">swap</a> 
        <a class=gbutton href="/cat/inbox:{{.User.ID}}">收件箱</a>
        <form method="POST" action="/user" style="display:inline">
            <input type=hidden name=uuid value="{{.UUID}}">
            <input type=hidden name=method value="ban-user">
            <input type=hidden name=ban value="{{if not .User.Banned}}1{{end}}">
            <input type=hidden name=username value="{{.User.ID}}">
            <button class="gbutton" type=submit>{{if .User.Banned}}解封{{else}}封禁{{end}}</button>
        </form>
        </div>
        {{end}}
{{else}}
        <title>全部主题</title>
        <span style="font-size:125%">全部主题</span>
{{end}}
</div>

<div class="rows">
    {{if len .Articles}}
    {{range .Articles}}
        <div class=row style="padding:0.5em;line-height:1em">
            {{if .Category}}
            <span><a style="color:black" href="/cat/{{.Category}}">{{.Category}}</a> /</span>
            {{end}}
            <b style="font-size:150%">
                {{if .Highlighted}}<span style="color:#ffc107">&#x2605;</span>{{end}}
                <a href="/p/{{.ID}}">{{.Title}}</a>
            </b>
        </div>
        <div class=row></div>
        {{template "row_content.html" .}}
    {{end}}
    {{else}}
    <div class=row style="text-align:center;padding:1em">无内容</div>
    {{end}}
</div>


<div class="paging" id="paging">
    {{if .Prev}}
    <a href="?n={{.Prev}}">&laquo; 上页</a>
    {{end}}
    {{if not .Index}}
    <a href="?n=">首页</a>
    {{end}}
    {{if .Next}}
    <a href="?n={{.Next}}">下页 &raquo;</a>
    {{end}}
</div>

