
<style>
kimochi {
	position: relative;
	display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

kimochi li:hover, kimochi li:hover a {
    text-decoration: none !important;
    border-radius: 3px;
	background-color: #f1f2f3;
}

kimochi > ul {
	display: none;
    background: white;
	position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: scroll;
}

kimochi:hover > ul {
    width: 200px;
    left: -24px;
	display: flex;
    flex-wrap: wrap;
    z-index: 100;
}

kimochi ul li {
    display: list-item;
    list-style: none;
    position: relative;
    background: white;
    padding: 0.33em 0.66em;
    overflow: hidden;
    flex: 0 33%;
    text-align: center;
}

kimochi a {
    display: block;
    cursor: pointer;
    line-height: 1.5em;
    width: 100%;
}

kimochi img {
    width: 24px; height: 24px;
    display: block;
}

kimochi a img {
    margin: 0.33em auto;
}

kimochi > div.tri {
    display: none;
}

kimochi:hover > div.tri {
    display: block;
}

</style>

<kimochi onmouseover="loadKimochi(this)">
<div class="tri"></div>
<div class="tri shadow"></div>
<img src="/s/emoji/emoji{{.Kimochi}}.png" style="-webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,0.2));
{{if not .Kimochi}}border:dashed 1px #233;border-radius:50%{{end}}">
<ul></ul>
</kimochi>
