
<style>
kimochi {
	position: relative;
	display: inline-block;
    width: 48px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0.5em;
}

kimochi li:hover, kimochi li:hover a {
    text-decoration: none !important;
    border-radius: 3px;
	background-color: #f1f2f3;
}

kimochi > ul {
	display: none;
    background: white;
	position: absolute;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    max-height: 200px;
    overflow-y: scroll;
}

kimochi:hover > ul {
    width: 200px;
    margin-left: -100px;
    left: 50%;
	display: flex;
    flex-wrap: wrap;
    z-index: 100;
}

kimochi ul li {
    display: list-item;
    list-style: none;
    position: relative;
    background: white;
    padding: 0.33em 0.66em;
    overflow: hidden;
    flex: 0 33%;
}

kimochi a {
    display: block;
    cursor: pointer;
    line-height: 1.5em;
    width: 100%;
}

kimochi img {
    width: 24px; height: 24px;
    display: block;
    margin: 0.33em auto;
}
</style>

<kimochi
    onmouseover="
    var ul = this.querySelector('ul');
    var m = sel('#current-kimochi');
    if (ul.childNodes.length) return;

    for(var i = 0; i <= 44; i++){
        var li = document.createElement('li'),
            a = document.createElement('a'),
            img = document.createElement('img');
            img.src = '/s/emoji/emoji' + i + '.png';
            if (i == 0) {
                img.style.border = 'dashed 1px #233';
                img.style.borderRadius = '50%';
            }

            a.appendChild(img);
            a.onclick = (function(i) {
                return function() {
                    $post('/api/user_kimochi', 'k=' + i, function(resp) { if (resp === 'ok') location.reload(); });
                }
            })(i)
            li.appendChild(a);
            ul.appendChild(li);
}">
<img
    id="current-kimochi"
    src="/s/emoji/emoji{{.Kimochi}}.png"
    style="{{if not .Kimochi}}border:dashed 1px #233;border-radius:50%{{end}}">
<ul></ul>
</kimochi>
