{{template "header.html" .}}
<title>Mod {{.User.ID}}</title>

<div class="status-box">
{{template "user_public.html" .User}}
</div>

<div style="margin: 0.5em 0">

    <table class=articles>
        <tr><td colspan=3><b>用户链</b></td></tr>
        {{range $k, $v := .Keys}}
        <tr>
            <td class=nowrap>{{$k}}: </td>
            <td>
                <input class=t value="{{$v}}" readonly>
            </td>
            <td class=nowrap>
    <script>
        (function() {
            var r = ("{{$v}}".match(/\S+/) || [])[0];
            document.write('<a href="/mod/kv?key=' + encodeURIComponent(r) + '">' + r + '</a>');
        })()
    </script>
            </td>
        </tr>
        {{end}}
        <tr><td colspan=3><b>原初结构</b></td></tr>
        <tr><td colspan=3><textarea readonly rows=10 style="font-family:monospace">{{.Raw}}
****************
{{.User.JSON}}</textarea></td></tr>

        <tr><td class=nowrap><b>操作</b></td>
            <td>
                {{if .You.IsAdmin}}
                <a class=gbutton href="/mod/user?uid={{.User.ID}}&swap=1">OB用户</a>

                <button class="gbutton" onclick="$postReload(this,'/api/promote_mod',{to:'{{.User.ID}}'})">
                    {{if .User.IsMod}}解除{{else}}设为{{end}}Mod
                </button>
                {{end}}

                <button class="gbutton" onclick="$postReload(this,'/api/ban',{to:'{{.User.ID}}'})">
                    {{if .User.Banned}}解封{{else}}封禁{{end}}
                </button>

            </td>
        </tr>
    </table>

</div>
