{{template "header.html" .}}

{{if .Reply}}
<a href="/p/{{.Reply}}">&laquo;后退</a>
{{else}}
<a href="/">&laquo;后退</a>
{{end}}
<hr>

<form method="POST" action="/new" enctype="multipart/form-data">
    <input type=hidden name=uuid value="{{.UUID}}">
    <table>
    {{if .Reply}}
    <tr>
        <title>回复: {{.Abstract}}</title>
        <td>回复:</td>
        <td>{{.Abstract}}<input type=hidden name=reply value="{{.Reply}}"></td>
    </tr>
    {{else}}
    <tr>
        <title>新主题</title>
        <td>新主题:</td>
        <td><input class=t name=title value="{{.RTitle}}"></td>
    </tr>
    <tr>
        <td>标签: </td>
        <td>
            <input class=t name=tags list=tags value="{{.RTags}}">
            <datalist id="tags">
            {{range .Tags}}<option value="{{.}}">{{end}}
            </datalist>
        </td>
    </tr>
    <tr>
        <td></td><td style="font-size:80%">(选填) 以空格分隔</td>
    </tr>
    {{end}}
    <tr>
        <td>ID: </td>
        <td><input class=t name=author value="{{.RAuthor}}"></td>
    </tr>
    <tr>
        <td></td><td style="font-size:80%">(选填) ID是编辑/删除自己的发言时凭证，留空则不可用</td>
    </tr>
    <tr>
        <td>内容:</td>
        <td><textarea rows=10 name="content">{{.RContent}}</textarea></td>
    </tr>
    <tr>
        <td>图片:</td>
        <td><input type=file name=image></td>
    </tr>
    <tr>
        <td>设为公告:</td>
        <td>
            <input name=announce type=checkbox>
            设置后无法取消只能删除
        </td>
    </tr>
    <tr>
        <td></td>
        <td><img src="data:image/png;base64,{{.Challenge}}"></td>
    </tr>
    <tr>
        <td>验证码:</td>
        <td>
            <input size=10 name="answer">
            <input name=refresh type=submit value="刷新">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div>{{if .EError}}错误: {{.EError}}{{end}}</div>
            <input type=submit> </td>
    </tr>
    </table>
</form>

{{template "footer.html" .}}
