{{template "header.html" .}}

<style>
            select option {
                padding: 0.2em;
            }

            select {
                border: solid 1px #ccc;
            }
</style>

        <title>新主题</title>

<form method="POST" action="/new" enctype="multipart/form-data">
<table class="articles" style="max-width:600px;margin:0 auto">
    <input type=hidden name=uuid value="{{.UUID}}">
    <tr>
        <td class=nowrap>新主题:</td>
        <td><input class=t name=title value="{{.RTitle}}"></td>
    </tr>
    <tr>
        <td></td><td style="font-size:90%">最少10字节</td>
    </tr>
    <tr>
        <td class=nowrap>分类:</td>
        <td>
            <select class=t name=cat value="{{.RCat}}" size=5 >
                <option value="default">default (默认)</option>
                {{range .Tags}}<option value="{{.}}" {{if eq $.RCat .}}selected{{end}}>{{.}}</option>{{end}}
            </select>
        </td>
    </tr>
    <tr>
        <td class=nowrap></td>
        <td style="padding:0">
            {{template "emoji.html" .}}
        </td>
    </tr>
    <tr>
        <td class=nowrap>内容:</td>
        <td><textarea maxlength=4000 rows=10 name="content">{{.RContent}}</textarea></td>
    </tr>
    
    <tr>
        <td class=nowrap></td>
        <td>
            <input id=saged name=saged type=checkbox>
            <label for=saged >SAGE自沉</label>&emsp;
        </td>
    </tr>
    {{if .EError}}
    <tr>
        <td></td> <td> <div>错误: {{template "error_i18n.html" .EError}}</div></td>
    </tr>
    {{end}}
    <tr>
        <td></td> <td style="text-align:right">
            <button class="gbutton" type=submit>发布</button>
            <a class="gbutton" href="/cat">取消</a>
        </td>
    </tr>
</table>
</form>
