{{template "header.html" .}}

<style>
tr {
    border: none !important;
}
            table {
                max-width: 600px;
            }
</style>

        <title>新主题</title>

<form method="POST" action="/new" enctype="multipart/form-data">
<table class="articles">
    <input type=hidden name=uuid value="{{.UUID}}">
    <tr>
        <td>新主题:</td>
        <td><input class=t name=title value="{{.RTitle}}"></td>
    </tr>
    <tr>
        <td></td><td style="font-size:90%">最少10字节</td>
    </tr>
    <tr>
        <td class=nowrap>分类:</td>
        <td>
            <select class=t name=cat value="{{.RCat}}">
                <option value="default">default</option>
                {{range .Tags}}<option value="{{.}}" {{if eq $.RCat .}}selected{{end}}>{{.}}</option>{{end}}
            </select>
        </td>
    </tr>
    <tr>
        <td class=nowrap>ID: </td>
        <td><input class=t name=author value="{{.RAuthor}}"></td>
    </tr>
    <tr>
        <td></td><td style="font-size:90%">(选填) ID是删除自己发言时的凭证，其他人看到的为加密后的名字</td>
    </tr>
    <tr>
        <td class=nowrap>内容:</td>
        <td><textarea maxlength=4000 rows=10 name="content">{{.RContent}}</textarea></td>
    </tr>
    <tr>
        <td></td>
        <td>
<button name=refresh value=1 type=submit class=none>
                <img src="data:image/png;base64,{{.Challenge}}">
            </button>
        </td>
    </tr>
    <tr>
        <td class=nowrap>验证码:</td>
        <td><input size=10 name="answer" class=s></td>
    </tr> 
    {{if .IsAdmin}}
    <tr>
        <td class=nowrap>管理员:</td>
        <td>
            <input name=announce type=checkbox id=announce>
            <label for=announce>设为公告，设置后无法取消只能删除</label>
        </td>
    </tr>
    {{end}}
    {{if .EError}}
    <tr>
        <td></td> <td> <div>错误: {{template "error_i18n.html" .EError}}</div></td>
    </tr>
    {{end}}
    <tr>
        <td></td> <td style="text-align:right">
            <button class="pure-material-button-outlined" type=submit>发布</button>
            <a class="pure-material-button-outlined" href="/cat">取消</a>
        </td>
    </tr>
</table>
</form>

{{template "footer.html" .}}
