{{template "header.html" .}}

<title>第{{.CurPage}}页</title>

{{with .ParentArticle}}
<div style="padding:0.5em;line-height:2em">
    {{if not .Parent}}<span>{{.Category}} /</span>{{end}} 
    {{if .Highlighted}}<span style="color:#ffc107">&#x2605;</span>{{end}}
    <b>{{.Title}}</b>
</div>
{{end}}

<div class="rows"> 
    {{template "row_content.html" .ParentArticle}}

    <div class=row style="padding:0.33em">
        {{with .ReplyView}}
        <input class="reply-toggle" style="display:none" type=checkbox id="reply" {{if .ShowReply}}checked{{end}}>
        <label class="gbutton" for=reply><b>回复主题</b></label>
        <div class="reply-view">
            <form method="POST" action="/reply" enctype="multipart/form-data">
                <table class="articles">
                    <input type=hidden name=uuid value="{{.UUID}}">
                    <input type=hidden name=reply value="{{$.ParentArticle.ID}}">
                    <tr>
                        <td style="padding:0;background:#f1f2f3;box-shadow:0 1px 2px #ddd" colspan=2>
                            {{template "emoji.html" .}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2 style="padding:0">
                            <textarea autofocus maxlength=4000 placeholder="内容" style="border:none" rows=12 name="content">{{.RContent}}</textarea>
                        </td>
                    </tr>
                    <tr style="border-top:dashed 1px #ddd;border-bottom:solid 1px #ddd">
                        <td class=nowrap>图片:</td>
                        <td><input style="width: 100%" type=file name=image></td>
                    </tr> 
                    <tr style="text-align:right">
                        <td colspan=2>
                            <button {{if $.ParentArticle.Locked}}disabled{{end}} class="gbutton" type=submit>回复</button>
                            <a class="gbutton" href="/p/{{$.ParentArticle.ID}}">取消</a>
                        </td>
                    </tr> 
                    {{if .EError}}
                    <tr style="border-top:solid 1px #ccc">
                        <td colspan=2>{{template "error_i18n.html" .EError}}</td>
                    </tr>
                    {{end}}
                </table>
            </form>
        </div>
        <div class="bg"></div>
        {{end}}
        {{if .ParentArticle.Parent}}
        <a class="gbutton" href="/p/{{.ParentArticle.Parent}}?j={{.ParentArticle.ID}}">上一层</a>
        <a class="gbutton" href="/p/{{.ParentArticle.TopParent}}">顶层</a>
        {{else}}
        <a class="gbutton" href="/cat?n={{.ParentArticle.Timeline}}">下一个主题</a>
        {{end}}
        {{if .CanDeleteParent}}
        <a class="gbutton" href="/edit/{{.ParentArticle.ID}}">删除</a>
        {{end}}
    </div>

    {{if len .Articles}}
    {{range .Articles}}
        {{template "row_content.html" .}}
    {{end}}
    {{else}}
    <div class=row style="text-align:center;padding:1em">无回复</div>
    {{end}}
</div>

<div class="paging" id="paging">
    <a href="?p=0">&laquo; 首页</a>
    {{range .Pages}}
    {{if eq . $.CurPage}}
    <a style="color:black"><b>{{.}}</b></a>
    {{else}}
    <a href="?p={{.}}">{{.}}</a>
    {{end}}
    {{end}}
    <a href="?p=-1">末页 &raquo;</a>
</div>

