<div style="width: 100%; max-width: 800px; margin: 0 auto;position:relative">
    <div class="rows replies" id="timeline{{.ReplyView.UUID}}" > 
        {{template "row_content.html" .ParentArticle}}

        {{template "reply_view.html" .ReplyView}}

        {{range .Articles}}
        {{template "row_content.html" .}}
        {{end}}
    </div>

    <div class="paging">
        {{if .Next}}
        <button
            value="{{.Next}}"
            class="gbutton load-more"
            onclick="loadMore('timeline{{.ReplyView.UUID}}',this,{reply:true})">更多回复...</button>

        {{else}}
        <a class=gbutton style="color:#aaa">没有更多回复</a>
        {{end}}
    </div>
</div>
