<div id="rv-{{.UUID}}" style="background:white;margin:0 0.5em">
    <table class="articles reply-table" style="box-shadow: 0 0 3px #ccc;position:relative;text-align:left">
        <tr>
            <td style="white-space: nowrap;background:rgba(0,0,0,0.025)" colspan=2>
                <div class="post-options post-options-emoji">
                    <button class=gbutton><i class="icon-emo-devil"></i><i class="icon-down-dir right"></i></button>
                    {{template "emoji.html" .UUID}}
                </div>

                <div class="post-options">
                    <button class=gbutton>图片<span class='image-size'></span><i class="icon-down-dir right"></i></button>
                    <ul style="width: 120px; height: 120px">
                        <!-- Three as a Whole -->
                        <button class=gbutton style="width: 100%; height: 100%" onclick="this.nextElementSibling.click()">
                            <span class=icon-picture></span><span>选择</span>
                        </button>
                        <input type=file style="display:none" onchange="onImageChanged(this)">
                        <input type=hidden name=image64>
                        <!-- Three as a Whole -->
                    </ul>
                </div>

                <div class="post-options">
                    <button class=gbutton>选项<i class="icon-down-dir right"></i></button>
                    <ul>
                        <li>
                            <span onclick="insertTag(this, '{{.UUID}}','[code]','代码块','[/code]')">
                                <i class=icon-code></i>
                                插入 <span style="font-family:monospace">[code][/code]</span>
                            </span>
                        </li>
                        <li>
                            <span onclick="insertTag(this, '{{.UUID}}','[img]','图片URL','[/img]')">
                                <i class=icon-code></i>
                                插入 <span style="font-family:monospace">[img][/img]</span>
                            </span>
                        </li>
                        {{if .ReplyTo}}
                        <li>
                            <span name=notimeline onclick="$check(this)">
                                <i class=icon-ok-circled2></i>
                                不同步至我的时间线
                            </span>
                        </li>
                        {{else}}
                        <li>
                            <span name=nomaster onclick="$check(this)">
                                <i class=icon-ok-circled2></i>
                                不同步至Master时间线
                            </span>
                        </li>
                        <li>
                            <span name=alone onclick="$check(this)">
                                <i class=icon-ok-circled2></i>
                                不同步至我的时间线
                            </span>
                        </li>
                        {{end}}
                        <li>
                            <span name=isnsfw onclick="$check(this)">
                                <i class=icon-ok-circled2></i>
                                标记图片为<span style="color:#f90"><i class='icon-transgender-alt'></i>NSFW</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <style>
.gbutton.image {
    height: 120px;
    width: 120px;
    padding: 0;
}
                    .gbutton.image span { display: none; }
                    .gbutton.image img {
                        display: block;
                        max-width: 120px;
                        max-height: 120px;
                        object-fit: contain;
                        border-radius: 3px;
                        margin: auto;
                    }
                    .post-options {
                        display: inline-block;
                        position: relative;
                    }
                    .post-options ul {
                        display: none;
                        position: absolute;
                        left: 0;
                        background: #fafbfc;
                        box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
                        list-style: none;
                        text-align:left;
                        margin-bottom: 2em;
                    }
                    .post-options ul li {
                        padding: 0.5em 1em;
                        cursor: pointer;
                    }
                    .post-options:hover ul {
                        display: block;
                        z-index: 1000;
                    }
                    .post-options-emoji:hover ul {
                        display: flex;
                        flex-wrap: wrap;
                        width: 250px;
                        height: 250px;
                        overflow-y: scroll;
                    }
                    .post-options-emoji a {
                        text-decoration: none !important;
                    }
                    .post-options ul li:hover {
                        background: #bdf;
                    }
                    .post-options .icon-ok-circled2 {
                        color: #bbb;
                    }
                </style>

            </td>
        </tr>

        <tr>
            <td style="padding:0" colspan=2>
                <textarea
                    name=content
                    maxlength=1024
                    placeholder="写下你的想法..."
                    rows={{if .ReplyTo}}6{{else}}10{{end}}
                    style="padding:0.66em;border:none"></textarea>

                <div
                    style="
                           position: absolute;
                           line-height: 36px;
                           width: 36px;
                           height: 36px;
                           background: #64b5f6;
                           color: white;
                           text-align:center;
                           border-radius: 50%;
                           box-shadow: 0 0 5px #ccc;
                           right: 1em;
                           bottom: 1em;
                           cursor: pointer;
                           font-size: 18px;
                           "
                    onclick="onPost('{{.UUID}}', this, '{{.ReplyTo}}')"
                    onmouseenter="this.style.background='#2196f3'"
                    onmouseout="this.style.background='#64b5f6'"
                    class=icon-comment>
                </div>
            </td>
        </tr>
    </table>
</div>

    <script>
        window.TRIBUTER.attach(document.querySelectorAll("#rv-{{.UUID}} textarea"));
    </script>
