<style>
    .gbutton.image {
        height: 120px;
        width: 120px;
        padding: 0;
    }
    .gbutton.image span {
        display: none;
    }
    .gbutton.image img {
        display: block;
        max-width: 120px;
        max-height: 120px;
        object-fit: contain;
        border-radius: 3px;
        margin: auto;
    }
</style>

<div id="rv-{{.UUID}}">
    <table class="articles reply-table">
        <tr>
            <td style="white-space: nowrap;background:rgba(0,0,0,0.025)" colspan=2>
                <div class="post-options">
                    <button name=reply-lock class=gbutton onclick="lockArticle(this)" value=0>
                        <i class=icon-lock></i>
                        <i class=icon-lock-open></i>
                    </button>
                </div>

                <div class="post-options post-options-emoji" onmousemove="emojiMajiang('{{.UUID}}')">
                    <button class=gbutton><i class="icon-emo-devil"></i><i class="icon-down-dir right"></i></button>
                    {{template "emoji.html" .UUID}}
                </div>

                <div class="post-options">
                    <button class=gbutton>图片<span class='image-size'></span><i class="icon-down-dir right"></i></button>
                    <ul style="width: 120px; height: 120px">
                        <!-- Three as a Whole -->
                        <button class=gbutton style="width: 100%; height: 100%" onclick="this.nextElementSibling.click()">
                            <span class=icon-picture></span><span>选择</span>
                        </button>
                        <input type=file style="display:none" onchange="onImageChanged(this)">
                        <input type=hidden name=image64>
                        <!-- Three as a Whole -->
                    </ul>
                </div>

                <div class="post-options">
                    <button class=gbutton>选项<i class="icon-down-dir right"></i></button>
                    <ul>
                        <li>
                            <span onclick="insertTag(this, '{{.UUID}}','[code]','代码块','[/code]')">
                                <i class=icon-code></i>
                                插入 <span style="font-family:monospace">[code][/code]</span>
                            </span>
                        </li>
                        <li>
                            <span onclick="insertTag(this, '{{.UUID}}','[img]','图片URL','[/img]')">
                                <i class=icon-code></i>
                                插入 <span style="font-family:monospace">[img][/img]</span>
                            </span>
                        </li>
                        {{if .ReplyTo}}
                        <li>
                            <span onclick="insertTag(this, '{{.UUID}}', '#ReportThis\n', '举报理由', '')">
                                <i class=icon-police></i>
                                举报该状态
                            </span>
                        </li>
                        <li>
                            <input type=checkbox name=notimeline id="notimeline{{.UUID}}" class=icon-input-checkbox>
                            <i class=icon-ok-circled2></i>
                            <label for="notimeline{{.UUID}}">不同步至我的时间线</label>
                        </li>
                        {{else}}
                        <li>
                            <input type=checkbox name=nomaster id="nomaster{{.UUID}}" class=icon-input-checkbox>
                            <i class=icon-ok-circled2></i>
                            <label for="nomaster{{.UUID}}">不同步至广场</label>
                        </li>
                        <li>
                            <input type=checkbox name=stickontop id="stickontop{{.UUID}}" class=icon-input-checkbox>
                            <i class=icon-ok-circled2></i>
                            <label for="stickontop{{.UUID}}">置顶状态</label>
                        </li>
                        {{end}}
                        <li>
                            <input type=checkbox name=isnsfw id="isnsfw{{.UUID}}" class=icon-input-checkbox>
                            <i class=icon-ok-circled2></i>
                            <label for="isnsfw{{.UUID}}">
                                标记图片为<i class='icon-transgender-alt'></i>NSFW
                            </label>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td style="padding:0" colspan=2>
                <textarea
                    name=content
                    maxlength=1024
                    placeholder="写下你的想法..."
                    rows=6
                    style="padding:0.66em;border:none;display:block"></textarea>

                <div class="post-button icon-comment" onclick="onPost('{{.UUID}}', this, '{{.ReplyTo}}')"></div>
            </td>
        </tr>
    </table>
</div>

    <script>
        window.TRIBUTER.attach(document.querySelectorAll("#rv-{{.UUID}} textarea"));
    </script>
