<form id="reply-view" method="POST" action="{{if .ReplyTo}}/reply{{else}}/new{{end}}">
        {{if .CanDelete}}
    <table class="articles" style="width: 100%;margin:1em 0 2em;box-shadow: 0 1px 3px rgba(0, 0, 0,.2);text-align:left">
        <tr class=sep>
            <td>
                <input type=checkbox name=delete-confirm id=delete-confirm>
                <label for=delete-confirm>确认删除该状态，该操作不可逆</label>
            </td>
            <td class=nowrap>
                <button class="gbutton" type=submit name=delete value=1 style="color:#ff5722">删除</a>
            </td>
        </tr>
        <tr>
            <td>
                <input type=checkbox name=nsfw-confirm id=nsfw-confirm {{if .NSFW}}checked{{end}}>
                <label for=nsfw-confirm>标记该状态为NSFW（仅图片）</label>
            </td>
            <td class=nowrap>
                <button class="gbutton" type=submit name=make-nsfw value=1 style="color:#f90">标记</a>
            </td>
        </tr>
    </table>
        {{end}}

    <table class="articles" style="width: 100%;margin:1em 0;box-shadow: 0 1px 4px rgba(0, 0, 0,.3);position:relative;text-align:left">

        <tr class=sep>
            <td colspan=2 style="padding:0">
                <input type=hidden name=uuid value="{{.UUID}}">
                <textarea
                    id="content"
                    maxlength=1024
                    placeholder="正文"
                    rows={{if .ReplyTo}}6{{else}}10{{end}}
                    name="content"
                    onkeyup="onContentObserved(this)"
                    style="padding:0.5em;border:none">{{.Content}}</textarea>
            </td>
        </tr>
        <tr class=sep>
            <td>
                <input type=file id=post-image style="display:none" onchange="onImageChanged(this)" accept=".jpg,.jpeg,.png,.gif">
                <input type=hidden id=post-image-base64 name=image64>
                <a class="gbutton" id=post-image-button onclick="sel('#post-image').click()">
                    <span class=icon-picture></span><span class="pic">图片</span>
                </a>

                <style>
                    .gbutton.image { height: 100%; }
                    .gbutton.image span { display: none; }
                    .gbutton.image img {
                        display: block;
                        max-width: 100px;
                        max-height: 100px;
                        border-radius: 3px;
                    }
                    .gbutton.image .info {
                        position: absolute;
                        width: 100%;
                        height: 32px;
                        line-height: 32px;
                        top: 50%;
                        margin-top: -16px;
                        color: white;
                        background: rgba(0,0,0,0.3)
                    }
                    #reply-submit-nsfw, #reply-button {
                        display: block;
                    }
                </style>

            </td>
            <td class="nowrap" style="text-align:center">
                <button id=reply-submit-nsfw name=nsfw class=gbutton type=submit style="color:#f90;display:none">发布NSFW</button>
                {{if .ReplyTo}}
                <input type=hidden name=reply value="{{.ReplyTo}}">
                <button id=reply-submit class="gbutton" type=submit>回复</button>
                {{else}}
                <button id=reply-submit class="gbutton" type=submit>发布</button>
                {{end}}
            </td>
        </tr>
{{if .Error}}
        <tr class=sep style="background:#f1f2f3;cursor:pointer" >
            <td onclick="this.parentNode.style.display='none'" colspan=2>{{template "error_i18n.html" .Error}}</td>
        </tr>
{{end}}
        <tr>
            <td colspan=2 style="padding:0">{{template "emoji.html" .}}</td>
        </tr>
    </table>
</form>

<script>
    (function() {
        var submits = sel('#reply-view button[type=submit]');
        for (var i = 0; i < submits.length; i++) {
            submits[i].onclick = function() {
                var c = document.createElement("input")
                c.setAttribute("name", this.getAttribute("name"));
                c.setAttribute("value", "1");
                c.style.display = "none";
                sel("#reply-view").appendChild(c);
            }
        }

        sel("#reply-view").addEventListener("submit", function () {
            for (var i = 0; i < submits.length; i++) $wait(submits[i]);

            var res = sel("#content").value.match(/((@|#)\S+)/g);
            if (!res) return;

            var e = JSON.parse(window.localStorage.getItem("presets") || "[]");
            e = e.concat(res);
            e = e.filter(function(el, i) { return e.indexOf(el) == i; });
            if (e.length > 16) e = e.slice(e.length - 16);
            window.localStorage.setItem("presets", JSON.stringify(e));
        })
    })();

function onContentObserved(el) {
    sel("#emoji").style.display = null; 
    var autos = sel("#emoji ul li.auto", true);
    for (var i = 0; i < autos.length; i++) sel("#emoji ul").removeChild(autos[i]);

    var res = el.value.match(/(@\S+)$/g);
    if (!res || res.length !== 1 || window.REQUESTING) return;
    window.REQUESTING = true;

    $post("/api/user/search", "id=" + res[0].substring(1), function(h) {
        try {
            var results = JSON.parse(h), ul = sel("#emoji ul"), f = sel("#emoji ul li:first-child");
            if (results && results.length) {
                results.forEach(function(t) {
                    var li = document.createElement('li');
                    var a = document.createElement('a');
                    li.appendChild(a);
                    li.className = "auto";
                    a.onclick = function() { insertMention(t); }
                    a.innerText = '@' + t;
                    ul.insertBefore(li, f);
                });
            }
        } catch(e) {}
        window.REQUESTING = false;
    }, function() {
        window.REQUESTING = false;
    })
}

function onImageChanged(el) {
    var btn = sel('#post-image-button');
    btn.className = btn.className.replace(/image/, "")
    btn.querySelector('div') ? btn.removeChild(btn.querySelector('div')) : 0;
    sel("#post-image-base64").value = "";
    sel("#reply-submit-nsfw").style.display = "none";

    if (!el.value) return;

    var reader = new FileReader();
    reader.readAsDataURL(el.files[0]);
    reader.onload = function () {
        var img = new Image();
        img.onerror = function() {
        }
        img.onload = function() {
            img.onload = null;
            var canvas = document.createElement("canvas"), throt = 1.4 * 1000 * 1000, f = 1,
                success = function() {
                    sel("#post-image-base64").value = img.src;
                    sel('#reply-submit').removeAttribute("disabled");
                    sel("#reply-submit-nsfw").style.display = null;
                    var img2 = document.createElement("img");
                    var div = document.createElement("div");
                    var span = document.createElement("div");
                    img2.src = img.src;
                    div.style.position = 'relative';
                    span.className = 'info';
                    span.innerText += (img.src.length / 1.33 / 1024).toFixed(0) + "KB";
                    span.innerText += (f == 1) ? "" : "/" + (f).toFixed(1);
                    div.appendChild(img2);
                    div.appendChild(span);
                    btn.appendChild(div);
                    btn.className += " image";
                };


            sel('#reply-submit').setAttribute("disabled", "disabled");
            if (img.src.length > throt) {
                if (img.src.match(/image\/gif/)) {
                    img.onerror();
                    return;
                }
                var ctx = canvas.getContext('2d');
                canvas.width = img.width; canvas.height = img.height;
                ctx.drawImage(img,0,0);
                for (f = 0.8; f > 0; f -= 0.2) {
                    var res = canvas.toDataURL("image/jpeg", f);
                    if (res.length <= throt) {
                        img.src = res;
                        success();
                        return;
                    }
                }
                img.onerror();
            } else {
                success();
            }
        }
        img.src = reader.result;
    };
}
</script>
