{{$isInboxLike := eq .Cmd "inbox-like"}}

<div data-id="{{.ID}}" style="padding:0.5em 0.5em 0 0.5em" class="row">
    <div class="row-header" style="line-height:{{if .NoAvatar}}24px{{else}}36px{{end}};display:flex">
        {{if not .NoAvatar}}
        <div class=avatar-container>
            <img class="avatar" alt="{{.Author.ID}}" src="/avatar/{{.Author.ID}}.jpg?q={{.Author.Avatar}}"
                                                     onmouseenter="showInfoBox(this,'{{.Author.ID}}')">
            {{if .Author.Kimochi}}
            <img class="avatar-kimochi" src="/s/emoji/emoji{{.Author.Kimochi}}.png">
            {{end}}
        </div>
        {{end}}

    {{template "display_name.html" .Author}}

    {{if eq .Cmd "inbox-reply"}}
        <span class=post-date>于 {{formatTime .CreateTime}} 回复了你</span>
    {{else if eq .Cmd "inbox-mention"}}
        <span class=post-date>于 {{formatTime .CreateTime}} @了你</span>
    {{else if $isInboxLike}}
        <span class=post-date>于 {{formatTime .CreateTime}} 喜欢了你的状态</span>
    {{else}}
        {{if .You.IsMod}}
        <span>
            <a href="/mod/user?uid={{.Author.ID}}" target=_blank><i class="icon-export-alt"></i></a>
        </span>
        {{end}}
        {{if .Parent}}
            {{if .Content}}
                <span class=post-date>回复于 {{formatTime .CreateTime}}</span>
            {{else}}
                <span class=post-date>转发于 {{formatTime .CreateTime}}</span>
            {{end}}
        {{else}}
            <span class=post-date>发布于 {{formatTime .CreateTime}}</span>
        {{end}}
    {{end}}
    </div>

    {{if .ContentHTML}}
    <pre style="padding:0.5em 0 0">{{.ContentHTML}}</pre>
    {{end}}

    {{if eq .MediaType "IMG"}}
        <div style="margin-top:0.5em;" class=media>
            {{if or .NSFW .You.Settings.FoldImages}}
                <button
                    style="color:{{if .NSFW}}#f90{{else}}#098{{end}}"
                    onclick="this.style.display='none';
                        this.nextElementSibling.querySelector('img').src='{{.Media}}?thumb=1'"
                        class="gbutton nsfw-clicker">
                    {{if .NSFW}}展开<i class="icon-transgender-alt"></i>NSFW图片{{else}}展开图片{{end}}
                </button>
                <a href="{{.Media}}" target=_blank><img onload="adjustImage(this)"></a>
            {{else}}
                <a href="{{.Media}}" target=_blank><img onload="adjustImage(this)" src="{{.Media}}?thumb=1"></a>
            {{end}}
            <span class=long-image>长图</span>
        </div>
    {{end}}

    {{if not $isInboxLike}}
    <div style="padding: 0.5em 0;line-height:1.5em">
        <a class="reply-box" href="javascript:showReply('{{.ID}}')">
            <i class="icon-reply-outline"></i> {{if .Replies}}{{.Replies}}{{end}}
        </a>
        <a class="reply-box" href="javascript:void(0)" onclick="likeArticle(this, '{{.ID}}')" liked={{.Liked}}>
            <i class="icon-heart-{{if .Liked}}filled{{else}}1{{end}}"></i> <span class=num>{{if .Likes}}{{.Likes}}{{end}}</span>
        </a>
        {{$own := eq .You.ID .Author.ID}}
        {{if or $own .You.IsMod}}
        <a class="reply-box" href="javascript:void(0)" onclick="deleteArticle(this,'{{.ID}}')" style="color:#f52">
            <i class="icon-trash"></i>
        </a>
        <a class="reply-box" href="javascript:void(0)"
                             onclick="nsfwArticle(this,'{{.ID}}')"
                             style="color:{{if .NSFW}}#f90{{else}}#bbb{{end}}" value={{.NSFW}}>
            <i class="icon-transgender-alt"></i>
        </a>
        <a class="reply-box" href="javascript:void(0)" onclick="lockArticle(this,'{{.ID}}')" value={{.Locked}}>
            {{if .Locked}}
            <i style="color:#233" class="icon-lock"></i>
            {{else}}
            <i style="color:#aaa" class="icon-lock-open"></i>
            {{end}}
        </a>
        {{end}}
    </div>
    {{end}}

    {{if and .You.IsMod .History}}
    <div style="color:#666;font:12px monospace">{{.History}}</div>
    {{end}}

    {{if .Parent}}
    {{if .Parent.ID}}
    <div style="position:relative;margin:0 -0.5em;{{if not $isInboxLike}}border-top:dotted 1px #aaa{{end}}">
        <i style="position:absolute;left:-12px;top:-1px;border-color:#aaa transparent transparent;display:block;border-width:12px;border-style:solid;"></i>
    </div>

    <div class="subreply">
        {{template "row_content.html" .Parent}}
    </div>
    {{end}}
    {{end}}
</div>
