{{$isInboxLike := or (eq .Cmd "inbox-like") (eq .Cmd "timeline-like") (eq .Cmd "inbox-fw-accepted") (eq .Cmd "inbox-fw-apply")}}

<div data-id="{{.ID}}" style class="article-row">
    <div class="article-row-header">
        <div class=avatar-container>
            {{if not .NoAvatar}}
            <img class="avatar" alt="{{.Author.ID}}" src="{{.Author.AvatarURL}}" onclick="showInfoBox(this,'{{.Author.ID}}')">
            {{if .Author.Kimochi}}
            <img class="avatar-kimochi" src="{{.Author.KimochiURL}}">
            {{end}}
            {{end}}
        </div>

        <div class=author-container>
            {{template "display_name.html" .Author}}
        </div>

        <div class=what-container>
        {{if eq .Cmd "inbox-reply"}}
        <span class=post-date>于 {{formatTime .CreateTime}} 回复了你</span>
        {{else if eq .Cmd "inbox-mention"}}
        <span class=post-date>于 {{formatTime .CreateTime}} @了你</span>
        {{else if eq .Cmd "inbox-fw-accepted"}}
        <span class=post-date>于 {{formatTime .CreateTime}} 承认了你的关注</span>
        {{else if eq .Cmd "inbox-fw-apply"}}
        <span class=post-date>于 {{formatTime .CreateTime}} 请求关注</span>
        {{else if eq .Cmd "timeline-like"}}
        <span class=post-date>
            {{if or .Others .AlsoReply}}<i class='cls-reply icon-down-big'></i>
            同{{end}}喜欢于 {{formatTime .CreateTime}}
        </span>
        {{else if $isInboxLike}}
        <span class=post-date>于 {{formatTime .CreateTime}} 喜欢</span>
        {{else}}
        {{if .You.IsMod}}
        <span>
            <a href="/mod/user?uid={{.Author.ID}}" target=_blank><i class="icon-export-alt"></i></a>
        </span>
        {{end}}
        {{if .Parent}}
        <span class=post-date>
            {{if .Others}}<i class='cls-reply icon-down-big'></i>
            同{{end}}{{if not .Forward}}回复{{else}}转发{{end}}于
            {{formatTime .CreateTime}}
        </span>
        {{else}}
        <span class=post-date>
            {{if .AlsoReply}}
            <i class='cls-reply icon-down-big'></i>
            同{{if .Forward}}转发{{else}}回复{{end}}于 {{formatTime .CreateTime}}
            {{else}}
            发布于 {{formatTime .CreateTime}}
            {{end}}
        </span>
        {{end}}
        {{end}}
        </div>
    </div>

    <div style="margin-left:3.5em">
    {{if .ContentHTML}}
    <pre data-pre-id='{{.ID}}' style="">{{.ContentHTML}}</pre>
    {{end}}

    {{if eq .Cmd "inbox-fw-apply"}}
    <div style="padding: 0.5em 0">
        <button
            user-id="{{.Author.ID}}"
            class="gbutton follow-block"
            value='false'
            onclick="followBlock(this,'accept','{{.Author.ID}}')">
            承认关注
        </button>
    </div>
    {{end}}

    {{if eq .MediaType "IMG"}}
    <div data-media-id="{{.ID}}" class=media-container style="">{{.Media}}</div>
    {{end}}

    {{if .Extras}}
    {{if .Extras.poll_title}}{{template "poll.html" (blend .ID .Extras)}}{{end}}
    {{end}}

    {{if and .You.IsMod .History}}
    <div class=tmpl-mid-text style="font:12px monospace">{{.History}}</div>
    {{end}}

    {{if not $isInboxLike}}
    <div class=foobar>
        {{if .StickOnTop}}
        {{if or (eq .You.ID .Author.ID) .You.IsMod}}
            <a class="gbutton" href="javascript:void(0)" onclick="dropTopArticle(this, '{{.ID}}')">
                <i class="icon-bullhorn"></i> 置顶
            </a>
        {{else}}
            <a class="gbutton tmpl-normal-text" style="font-weight:bold" href="javascript:void(0)">
                <i class="icon-bullhorn"></i> 置顶
            </a>
        {{end}}
        {{end}}

        {{if not .Forward}}
        {{if not .GreyOutReply}}
            {{if .IsCrawler}}
            <a class="gbutton" href="{{.Link}}" target="_blank"><i class="icon-reply-outline"></i></a>
            {{else}}
            <a class="gbutton" {{if .OpenBlank}}href="javascript:window.open('{{.Link}}').S=1"{{else}}href="{{.Link}}"{{end}}>
                <i class="icon-reply-outline"></i>
                {{if .Replies}}{{.Replies}}{{end}}
            </a>
            {{end}}
        {{else}}
        {{if .Parent}}
        <a class=gbutton href="{{.ParentLink}}?j={{.ID}}">
            <i class=icon-down-big></i>
        </a>
        {{end}}
        {{end}}

        <a class="gbutton" href="javascript:void(0)" onclick="likeArticle(this, '{{.ID}}')" liked={{.Liked}}>
            <i class="icon-heart-{{if .Liked}}filled{{else}}2{{end}}"></i> <span>{{if .Likes}}{{.Likes}}{{end}}</span>
        </a>
        {{end}}

        {{if or (eq .You.ID .Author.ID) .You.IsMod}}
        {{if not .Forward}}
        <a class="gbutton" href="javascript:void(0)" onclick="lockArticle(this,'{{.ID}}')" value="{{.ReplyLockMode}}">
            {{if .ReplyLockMode}}
            <i class="tmpl-mid-text icon-lock"></i>
            {{else}}
            <i class="icon-lock-open"></i>
            {{end}}
        </a>
        {{end}}
        <a class="tmpl-red-text gbutton" href="javascript:void(0)" onclick="deleteArticle(this,'{{.ID}}')">
            <i class="icon-trash"></i>
        </a>
        {{if eq .MediaType "IMG"}}
        <a class="gbutton" href="javascript:void(0)" onclick="nsfwArticle(this,'{{.ID}}')" value={{.NSFW}}>
            <i class="icon-eye-off"></i>
        </a>
        {{end}}
        {{end}}
    </div>
    {{end}}
    </div>

    {{range .Others}}
    <div class="subreply clsreply">
            {{template "row_content.html" .}}
        </div>
    {{end}}

    {{if .Parent}}
    {{if .Parent.ID}}
    <div class="subreply">
        {{template "row_content.html" .Parent}}
    </div>
    {{end}}
    {{end}}
</div>
