{{template "header.html" .}}

<div class="rows">
    {{if len .Articles}}
    {{range .Articles}}
        <div class=row style="padding:0.5em;line-height:1em">
            {{if .Category}}
            <span><a style="color:black" href="/cat/{{.Category}}">{{.Category}}</a> /</span>
            {{end}}
            <b style="font-size:150%">
                {{if .Highlighted}}<span style="color:#ffc107">&#x2605;</span>{{end}}
                <a href="/p/{{.ID}}">{{.Title}}</a>
            </b>
        </div>
        <div class=row></div>
        {{template "row_content.html" .}}
    {{end}}
    {{else}}
    <div class=row style="text-align:center;padding:1em">无内容</div>
    {{end}}
</div>


<form method="POST" action="/timeline">
    <input type=hidden name="cursors" value="{{.Next}}">
    <button type=submit class=gbutton>下一页</button>
</form>
