{{template "header.html" .}}

<div id=dummy-user style="display: none">
{{template "user_public.html" (emptyUser)}}
</div>

{{if .IsUserTimeline}}

    {{if eq .User.ID "master"}}
        <title>全局时间线</title>
        <script>$q('#nav-master').className = "selected"</script>
    {{else}}
        <title>{{.User.DisplayName}}</title>
        <div class="status-box">
            <script>$q('#nav-other a').innerText = "@{{.User.ID}}"; $q('#nav-other').className = "selected"</script>
            {{template "user_public.html" .User}}
        </div>
    {{end}}

{{else if .IsInbox}}

<title>我的提醒</title>
<script>$q('#nav-inbox').className = "selected"</script>
<div class="status-box">
    {{template "user_private.html" .You}}
</div>

{{else if .IsUserLikeTimeline}}

<div class="status-box">
    {{if eq .You.ID .User.ID}}
    {{template "user_private.html" .You}}
    {{else}}
    {{template "user_public.html" .User}}
    {{end}}
</div>

<title>{{.User.DisplayName}} 的收藏</title>
<script>$q('#nav-likes a span').innerText = "@{{.User.ID}}";$q('#nav-likes').className = "selected"</script>

{{else if .IsTagTimeline}}

<title>#{{.Tag}}</title>
<script>
    (function() {
        $q('#nav-tag a span').innerText = "#{{.Tag}} ({{.PostsUnderTag}})"
        $q('#nav-tag').className = "selected"

        var el = $q('#nav-tag a b');
        el.innerHTML = "<i class='{{if .IsTagTimelineFollowed}}icon-heart-broken{{else}}icon-user-plus{{end}}'></i>"
        el.onclick = function() { followBlock(this,'follow','#{{.Tag}}') }
        el.setAttribute("value", {{.IsTagTimelineFollowed}})
    })()
</script>

{{else}}

<div class="status-box">
    <title>我的时间线</title>
    <div>
        <script>$q('#nav-own').className = "selected"</script>
        {{template "user_private.html" .User}}
    </div>
    
</div>

{{end}}

{{if .ReplyView.PID}}<script>showReply('{{.ReplyView.PID}}');</script>{{end}}

<div class="rows" id="timeline{{.ReplyView.UUID}}" style="">
    {{if .ShowNewPost}}
    {{if ne .User.ID "master"}}
    {{template "reply_view.html" .ReplyView}}
    {{end}}
    {{end}}

<div style='padding:0 0.5em;background:#f1f2f3;cursor:pointer'>
{{if not .IsInbox}}
<div style="" class="tl-checkpoints post-options">
    <div style="padding:0.5em">
        <b>查看:</b>
        <span>
        {{if .CurrentCheckpoint}}
            {{.CurrentCheckpoint}}月
        {{else if .MediaOnly}}
            仅图片
        {{else}}
            全部
        {{end}}
        </span>
        <i class="icon-down-dir right"></i>
    </div>
    <ul>
        <li onclick='location.href="?media"'><i class=icon-calendar></i> 全部</li>
        <li onclick='location.href="?media=1"'><i class=icon-picture></i> 仅图片</li>
        {{range .Checkpoints}}
        <li onclick="location.href='?cp={{.}}'"><i class="icon-history"></i> {{.}}月</li>
        {{end}}
    </ul>
</div>
<div class="tl-checkpoints post-options">
    <div style="padding:0.5em">
        <b>NSFW</b>:
        <span id="auto-expand-nsfw-state">
        {{if .User}}
        {{if .User.Settings.AutoNSFW}}展开{{else}}折叠{{end}}
        {{else}}
        折叠
        {{end}}
        </span>
        <i class="icon-down-dir right"></i>
    </div>
    <ul>
        <li>
            <input type=checkbox id=auto-expand-nsfw class=icon-input-checkbox
                   {{if .User}}{{if .User.Settings.AutoNSFW}}checked{{end}}{{end}}
                   onchange='$q("#auto-expand-nsfw-state").innerText=this.checked?"展开":"折叠"'
                   >
            <i class=icon-calendar></i>
            <label for=auto-expand-nsfw>自动展开这类图片</label>
        </li>
    </ul>
</div>
{{else}}
<button class=gbutton style="margin: 0.5em 0" onclick="$postReload(this,'/api/clear_inbox',{})">清空全部提醒</button>
{{end}}
</div>

    <div class="row-reply-inserter" style="display:none"></div>

    {{range .Articles}}
    {{template "row_content.html" .}}
    {{end}}
</div>

<div class=paging>
    {{if .Next}}
    <button
        value="{{.Next}}"
        class="gbutton load-more"
        onclick="loadMore('timeline{{.ReplyView.UUID}}',this,{likes:{{.IsUserLikeTimeline}},media:{{.MediaOnly}},})">更多...</button>

    <script>
        preLoadMore("timeline{{.ReplyView.UUID}}", $q("#timeline{{.ReplyView.UUID}} + .paging > .load-more"));
    </script>

    {{else}}
    <a class=gbutton style="color:#aaa" href="#">
        {{if .IsUserTimeline}}
            没有更多{{.User.ID}}的状态了
        {{else if .IsInbox}}
            没有更多提醒了
        {{else}}
            没有更多状态了
        {{end}}
    </a>
    {{end}}
</div>
