{{template "header.html" .}}

{{if .User}}

<title>{{.User.DisplayName}}</title>

    <script>$q('#nav-user-info').className = "selected"</script>
    
    <style>
.articles tr td:last-child {
    word-break: break-all;
}
    </style>

    <div class="status-box">
        <div>{{template "user_private.html" .User}}</div>
    </div>

<table class="articles" style="margin: 0.5em 0">
    <tr><td colspan=3><b>账户信息</b></td></tr>

    <tr>
        <td>上次登入:</td>
        <td colspan=2>{{.User.Login.Format "2006-01-02 15:04:05"}}</td>
    </tr>
    <tr>
        <td>注册于:</td>
        <td colspan=2>{{.User.Signup.Format "2006-01-02 15:04:05"}}</td>
    </tr>
    <tr>
        <td class=nowrap>上次登入IP:</td><td colspan=2>{{.User.DataIP}}</td>
    </tr>

    <tr><td colspan=3><b>一般设置</b></td></tr>

    <tr>
        <td colspan=3> 
            <input type=checkbox {{if .User.Settings.AutoNSFW}}checked{{end}} id=autonsfw
            onchange="updateSetting(this,'autonsfw',this.checked?'1':'')">
            <label for= autonsfw>自动展开NSFW图片</label>
        </td>
    </tr>

    <tr>
        <td colspan=3> 
            <input type=checkbox {{if .User.Settings.FoldImages}}checked{{end}} id=foldimg
            onchange="updateSetting(this,'foldimg',this.checked?'1':'')">
            <label for= foldimg>收起图片（减少流量）</label>
        </td>
    </tr>

    <tr><td colspan=3><b>修改邮箱</b></td></tr>

    <tr>
        <td class=nowrap>Email:</td>
        <td>
            <input name=email class=t value="{{.User.Email}}" type=email>
        </td>
        <td class=nowrap>
            <button class=gbutton onclick="updateSetting(this,'email',$q('[name=email]').value)">更新</button>
        </td>
    </tr> 

    {{if .User.IsMod}}
    <tr>
        <td class=nowrap>最大耗时:</td>
        <td>{{.Survey.Max}}ms</td>
    </tr>
    <tr>
        <td class=nowrap>流出流量:</td>
        <td>{{.Survey.Written}}b</td>
    </tr>
    {{end}}

    {{if .User.IsAdmin}}
    <tr>
        <td class=nowrap></td>
        <td><button class=gbutton onclick='$postReload(this,"/api2/reset_cache",{})'>重置缓存</button></td>
    </tr>
    {{end}}

    <tr><td colspan=3><b>修改密码</b></td></tr>

    <tr>
        <td class=nowrap>原密码:</td>
        <td colspan=2><input name=old-password type=password class=t></td>
    </tr>
    <tr>
        <td class=nowrap>新密码:</td>
        <td colspan=2><input name=new-password type=password class=t></td>
    </tr>
    <tr>
        <td colspan=2></td>
        <td class=nowrap>
            <button
                class="gbutton"
                onclick="$post('/api2/user_password', {
                          'old-password': $q('[name=old-password]').value,
                          'new-password': $q('[name=new-password]').value,
                }, function(h) { return h })">更新</button>
        </td>
    </tr>
</table>


{{else}}

<title>注册</title>

    <script>$q('#nav-login').className = "selected"</script>

    <div>
        <a href="/" class=gbutton>已有账号？点此登入</a>
    </div>

<form method="POST" action="/user">
    <table class="articles">

    <input type=hidden name=uuid value="{{.UUID}}">
    <input type=hidden name=method value="signup">
    <tr>
        <td>用户名:</td>
        <td><input class=t maxlength=15 name=username value="{{.RUsername}}" onkeyup="checkID(this.value)"></td>
    <script>
        function checkID(id) {
            var x = [], j = 0, filtered = false;
            for (var i = 0 ; i < id.length; i++) {
                var c = id.charCodeAt(i);
                j++;
                if (j > 15) break
                if (c == 46 || c == 45 || c == 95 || c == 33 || c == 126) x.push(c)
                else if (c >= 48 && c <= 57) x.push(c)
                else if (c >= 65 && c <= 90) x.push(c)
                else if (c >= 97 && c <= 122) x.push(c)
                else if (c >= 0x2000 && c <= 0x9fff) {
                    j++;
                    if (j > 15) break
                    x.push(c);
                } else {
                    filtered = true;
                    x.push(95)
                }
            }
            $q("#id-output").innerHTML = "<b style='font-family:monospace'>" + String.fromCharCode.apply(null, x) +
                (filtered ? "&emsp;<span style='color:#f52'>(注意: 非法字符已过滤)</span></b>" : "</b>");
        }
    </script>
    </tr>
    <tr>
        <td></td><td id="id-output">3~15英文，2~7中文</td>
    </tr>
    <tr>
        <td class=nowrap>密码: </td>
        <td><input type=password class=t name=password value="{{.RPassword}}"></td>
    </tr>
    <tr>
        <td class=nowrap>重复密码:</td>
        <td><input type=password class=t name=password2 value="{{.RPassword}}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input class=t name=email value="{{.REmail}}"></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="javascript:refreshCaptcha()">
                <img id=captcha src="data:image/png;base64,{{.Challenge}}">
            </a>
    <script>
        function refreshCaptcha() {
            var stop = $wait($q("button[type=submit]"))
            $post('/api/new_captcha', {}, function(r) {
                $q("#captcha").src = "data:image/png;base64," + r.Challenge;
                $q("[name=uuid]").value = r.UUID;
                stop();
            }, stop)
        }
    </script>
        </td>
    </tr>
    <tr>
        <td class=nowrap>验证码:</td>
        <td><input size=10 name="answer" class=s></td>
    </tr> 
    {{if .EError}}
    <tr>
        <td></td><td>{{template "error_i18n.html" .EError}}</td>
    </tr>
    {{end}}
    <tr>
        <td></td> <td style="text-align:right">
            <button class="gbutton" type=submit>注册</button>
        </td>
    </tr>
</table>
</form>
{{end}}

