<div class="article-row status" style="overflow:unset">
    <div class="article-row-header" style="">
        <div class="avatar-container" style="position:relative">
            <img class="avatar" {{template "avatar.html" .}} style="cursor:pointer;margin:0" onclick="this.nextElementSibling.click()">
            <input type=file style="display:none" onchange="onAvatarChanged(this)" id="avatar-file-selector">
            <div style='cursor:pointer;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);border-radius:0.25em;text-align:center'
                onclick='$q("#avatar-file-selector").click()'>
                <i class=icon-camera style="color:white"></i>
            </div>
            <div class="avatar-kimochi post-options post-options-emoji" onmouseover="loadKimochi(this)">
                <img class=kimochi-selector style="width:100%;height:100%;display:block" kimochi={{.Kimochi}} src="{{.KimochiURL}}">
                <ul style="top:20px"></ul>
            </div>
        </div>
        
        <div class="author-container" style="">
            {{template "display_name.html" .}}
        </div>
        <div class="what-container">
            <a href="/user/followings"><b class=tmpl-normal-text>关注</b> {{.Followings}}</a>&emsp;
            <a href="/user/followers"><b class=tmpl-normal-text>粉丝</b> {{.Followers}}</a>&emsp;
            <a class="" href="/user"><b class=tmpl-normal-text>个人设置</b></a>

            <div style="display:none">
                <img src="{{.KimochiURL}}" style="vertical-align: middle" kimochi={{.Kimochi}} class=kimochi-selector>
            </div>
        </div>
    </div>

    <div style="display:flex;width:100%;border:dotted 1px transparent;margin:1em 0 0;border-radius:4px" class="tmpl-border tmpl-input-bg">
        <input
            style="width:100%;border:none;text-align:left"
            placeholder="个人简介"
            class=t
            value="{{.Description}}">
        <button class="gbutton tmpl-green-text"
                style="margin:0.25em;flex-shrink:0"
                onclick="updateSetting(this, 'description', this.previousElementSibling.value)"><i class=icon-pencil></i></button>
    </div>

</div>

<script>
function onAvatarChanged(el) {
    if (!el.value) return;

    var reader = new FileReader();
    reader.readAsDataURL(el.files[0]);
    reader.onload = function () {
        var img = new Image();
        img.onerror = function() {
            $popup("加载头像失败")
        }
        img.onload = function() {
            img.onload = null;
            var canvas = document.createElement("canvas"), throt = 150 * 1000, f = 1,
                success = function() {
                    console.log((img.src.length / 1.33 / 1024).toFixed(0) + "KB", f);
                    var data = {}, a = el.previousElementSibling;
                    var btnstop = $wait($q("#avatar-file-button"))
                    var stop = function() {
                        a.src = a.OLD_SRC;
                        btnstop();
                    }

                    a.OLD_SRC = a.src;
                    a.src = '/s/assets/spinner2.gif'

                    data["set-avatar"] = "1";
                    data["avatar"] = img.src;
                    $post("/api/user_settings", data, function(h, h2) {
                        stop();
                        if (h === 'ok') a.src = a.OLD_SRC + "&random=" + new Date().getTime();
                        return (h !== 'ok') ? h : "ok:更新成功，由于缓存原因新头像可能不会立即生效";
                    }, stop)
                };

            if (img.src.length > throt) {
                if (img.src.match(/image\/gif/)) {
                    img.onerror();
                    return;
                }
                var ctx = canvas.getContext('2d');
                canvas.width = img.width; canvas.height = img.height;
                ctx.drawImage(img,0,0);
                for (f = 0.8; f > 0; f -= 0.2) {
                    var res = canvas.toDataURL("image/jpeg", f);
                    if (res.length <= throt) {
                        img.src = res;
                        success();
                        return;
                    }
                }
                img.onerror();
            } else {
                success();
            }
        }
        img.src = reader.result;
    };
}
</script>
