<div class="status">
    <div class="row-header title" style="text-align:left">
        <div style="flex:0 48px">
            <div class=avatar-container>
                <img class="avatar" src="/avatar/{{.ID}}.jpg?q={{.Avatar}}">
            {{if .Kimochi}}
            <img class="avatar-kimochi" src="/s/emoji/emoji{{.Kimochi}}.png">
            {{end}}
            </div>
        </div>
        <div style="flex:1 100%;text-align:center;overflow: hidden;text-overflow: ellipsis">
            {{template "display_name.html" .}}
        </div>

        <div style="flex-grow:0;white-space:nowrap;margin:0">

        {{if .IsNotYou}}
        <button
            class="gbutton follow-block"
            value='{{.IsFollowing}}'
            onclick="followBlock(this,'follow','{{.ID}}')">
            <i class="{{if .IsFollowing}}icon-heart-broken{{else}}icon-user-plus{{end}}"></i>
        </button>

        <button
            class="gbutton follow-block"
            value='{{.IsBlocking}}'
            style="color:{{if .IsBlocking}}#f52{{else}}#aaa{{end}}"
            onclick="followBlock(this,'block','{{.ID}}')">
            <i class="icon-block"></i>
        </button>
        {{else}}
        <button class="gbutton" disabled><i style="color:#ddd" class="icon-heart-broken"></i></button>
        <button class="gbutton" disabled><i style="color:#ddd" class="icon-block"></i></button>
        {{end}}
        </div>

        <div class=tri></div>
    </div>

    {{if .Settings.Description}}
    <div class=title style="border-bottom: dotted 1px #ccc;text-align:left;line-height:1.66em">
        <pre style="margin:0.5em 0">{{.Settings.DescHTML}}</pre>
    </div>
    {{end}}

    <div class="title">
        <span>
            <a href="/user/followings/{{.ID}}"><b>{{.Followings}}</b></a>
        </span>
        <span>
            <a href="/user/followers/{{.ID}}"><b>{{.Followers}}</b></a>
        </span>
        <span>
            <a href="/likes/{{.ID}}"><i class="icon-heart-filled"></i></a>
        </span>
    </div>

    <div class="title small">
        <span style="color:black">关注</span>
        <span style="color:black">粉丝</span>
        <span style="color:black">收藏</span>
    </div>
</div>
