{{template "header.html" .}}

<title>{{.DisplayName}} 安全选项</title>
<div class="status-box tmpl-row-light-bg">
    <div>{{template "user_private.html" .}}</div>
</div>

<div class="settings-box">
    <div class="title tmpl-navbar-titlebar-bg" style="text-align:center"><b style="flex-grow: 1">安全</b></div>

    <div class=body>
        {{range ipChainLookup .DataIP}}
        <div style="display:flex;line-height:1.5em">
            <span style="flex:0 0 auto">{{index . 0}}</span>
            <span style="flex:1 1 auto;padding:0 0.5em">{{index . 1}}</span>
            <span style="flex:0 0 auto">{{formatTime (index . 2)}}</span>
        </div> 
        {{end}}
        <div>
            <input name=old-password type=password class=t placeholder=原密码>
        </div>
        <div>
            <input name=new-password type=password class=t placeholder=新密码>
        </div>
        <div style="text-align:center">
            <button
                class="gbutton"
                onclick="$post('/api2/user_password', {
                'old-password': $q('[name=old-password]').value,
                'new-password': $q('[name=new-password]').value,
                }, function(h) { return h })">更新密码</button>
        </div>
    </div>
    <div class="title tmpl-navbar-titlebar-bg"><b>邮箱</b></div>
    <div class=body style="display:flex">
        <div style="flex-grow:1">
            <input name=email class=t value="{{.Email}}" type=email>
        </div>
        <div style="flex-shrink:1">
            <button class="gbutton" onclick="updateSetting(this,'email',$q('[name=email]').value)">更新Email</button>
        </div>
    </div>
</div>
