{{template "header.html" .}}

<title>{{.DisplayName}} API</title>
<div class="status-box tmpl-row-light-bg">
    <div>{{template "user_private.html" .}}</div>
</div>

<div class="settings-box">
    <div class="settings-box">
        <div class="title tmpl-navbar-titlebar-bg" style="text-align:center"><b style="flex-grow: 1">API Token</b></div>

        <div class=body>
            <div>
                <input readonly name=api-token class=t value="{{.APIToken}}">
            </div>
            <div>
                <button
                    class="gbutton"
                    onclick="
                    var stop = $wait(this);
                    $post('/api/user_settings', {'set-apisession':1}, function(res) {
                    stop();
                    if (res.substring(0, 3) !== 'ok:') return res;
                    $q('[name=api-token]').value = res.substr(3);
                    }, stop);
                    ">刷新</button>
            </div>
            <div>
                1. Bot API, uesd for posting articles and uploading images<br>
                2. Check <a href="https://github.com/coyove/iis/blob/master/bot/main.go" target=_blank><u>Sample code</u></a>
            </div>
        </div>
    </div>
</div>
