{{template "header.html" .}}

<div style="margin: 0.5em 0">
    {{if eq .ListType "followings"}}
    <a href="/user/followings" class=gbutton>我的关注</a>
    <a href="/user/followers" class=gbutton style="color:#ccc">我的粉丝</a>
    <a href="/user/blacklist" class=gbutton style="color:#ccc">黑名单</a>
    <title>我的关注</title>
    {{else if eq .ListType "blacklist"}}
    <a href="/user/followings" class=gbutton style="color:#ccc">我的关注</a>
    <a href="/user/followers" class=gbutton style="color:#ccc">我的粉丝</a>
    <a href="/user/blacklist" class=gbutton>黑名单</a>
    <title>黑名单</title>
    {{else}}
    <a href="/user/followings" class=gbutton style="color:#ccc">我的关注</a>
    <a href="/user/followers" class=gbutton>我的粉丝</a>
    <a href="/user/blacklist" class=gbutton style="color:#ccc">黑名单</a>
    <title>我的粉丝</title>
    {{end}}
</div>

{{if eq .ListType "blacklist"}}
    <div style="margin: 0.5em">
        1. 拉黑用户无法评论/@你的状态<br>
        2. 拉黑用户如果之前已经关注了你，则会自动取消且无法再次关注，同时无法看到你的状态
    </div>
{{end}}

<table class="articles z" style="margin: 0.5em 0">
    {{if .EError}}
    <tr>
        <td colspan=3>{{template "error_i18n.html" .EError}}</td>
    </tr>
    {{end}}
    <tr style="border-bottom:dotted 1px #ccc">
        <td class=nowrap>
            <b>
                {{if eq .ListType "blacklist"}}
                黑名单
                {{else if eq .ListType "followers"}}
                我的粉丝 ({{.User.Followers}})
                {{else}}
                我的关注 ({{.User.Followings}})
                {{end}}
            </b>
        </td>
        <form method="POST" action="/user{{if eq .ListType "followers"}}/followers{{end}}">
            <td>
                <input type=hidden name=uuid value="{{.UUID}}">
                <input type=hidden name=username value="{{.User.ID}}">
                <input type=hidden name=method value="follow">
                <input class=t name=to>
            </td>
            <td class=nowrap>
                <button class="gbutton" name="search" value="1" type=submit>搜索 ID</button>
            </td>
        </form>
    </tr>

    {{range .List}}
    <tr>
        <td class=nowrap>{{.Time.Format "2006-01-02"}}</td>
        <td><b><a href="/t/{{.ID}}">{{.ID}}</a></b></td>
        <td class=nowrap>
            {{if eq $.ListType "blacklist"}}
            <form method="POST" action="/user">
                <input type=hidden name=uuid value="{{$.UUID}}">
                <input type=hidden name=username value="{{$.User.ID}}">
                <input type=hidden name=method value="block">
                <input type=hidden name=to value="{{.ID}}">
                {{if .Blocked}}
                <button class="gbutton" type=submit>解除黑名单</button>
                {{else}}
                <input type=hidden name=block value="1">
                <button class="gbutton" type=submit style="color:#f52">拉入黑名单</button>
                {{end}}
            </form>
            {{else if eq $.ListType "followers"}}
                {{if not .RevFollowed}}
                    <button class=gbutton disabled>已解除关注</button>
                {{else}}
                    <form method="POST" action="/user/followers">
                        <input type=hidden name=uuid value="{{$.UUID}}">
                        <input type=hidden name=to value="{{.ID}}">
                        <button class="gbutton" type=submit style="color:#f52">拉入黑名单</button>
                    </form>
                {{end}}
            {{else}}
            <form method="POST" action="/user">
                <input type=hidden name=uuid value="{{$.UUID}}">
                <input type=hidden name=username value="{{$.User.ID}}">
                <input type=hidden name=method value="follow">
                <input type=hidden name=to value="{{.ID}}">
                {{if .Followed}}
                <button class="gbutton" type=submit>取消关注</button>
                {{else}}
                <input type=hidden name=follow value="1">
                <button class="gbutton" type=submit>关注</button>
                {{end}}
            </form>
            {{end}}
        </td>
    </tr>
    {{end}}

    <tr>
        <td colspan=3 style="text-align:center">
            <a href="?n={{.Next}}" class=gbutton>
                下一页 &raquo;
            </a>
        </td>
    </tr>
</table>

