<div class="status">
    <div class=title style="text-align:left">
        <div class="row-header" style="display:flex">
            <div style="flex:0 1px">
                <img class="avatar" {{if .Avatar}}src="{{.Avatar}}"{{else}}src="/avatar/{{.ID}}.jpg" style="opacity:0.6"{{end}}>
                {{if .Kimochi}}
                <img class="avatar-kimochi" src="/s/emoji/emoji{{.Kimochi}}.png">
                {{end}}
            </div>
            <div style="flex:1 100%;text-align:center">
                <b>@{{.ID}}</b>
                {{if .IsMod}}<b><span class=mod>Mod</span></b>{{end}}
                {{if .Banned}}/ 封禁{{end}}
            </div>
        </div>
    </div>
    <span>
        <a href="/user/followings/{{.ID}}"><b>{{.Followings}}</b><br><span style="color:black">关注</span></a>
    </span>
    <span>
        <a href="/user/followers/{{.ID}}"><b>{{.Followers}}</b><br><span style="color:black">粉丝</span></a>
    </span>
    <span>
        <a href="/likes/{{.ID}}"><i class="icon-heart-filled"></i><br><span style="color:black">收藏</span></a>
    </span>
</div>
