<div class="status">
    <div class=title>
        <b>@{{.ID}}</b>
        {{if .IsMod}}<b><span class=mod>Mod</span></b>{{end}}
        {{if .Banned}}/ 封禁{{end}}
    </div>
    <span>
        <a href="/user/followings/{{.ID}}"><b>{{.Followings}}</b><br><span style="color:black">关注</span></a>
    </span>
    <span>
        <a href="/user/followers/{{.ID}}"><b>{{.Followers}}</b><br><span style="color:black">粉丝</span></a>
    </span>
    <span>
        <a href="/likes/{{.ID}}"><i class="icon-heart-filled"></i><br><span style="color:black">收藏</span></a>
    </span>
</div>
