/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/s/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/s/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/s/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/s/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/s/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/s/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/s/fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/s/fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/s/fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/s/fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/s/fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/s/fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

@supports (-webkit-overflow-scrolling: touch) {
    -webkit-text-size-adjust: 120%;
}

body, button, input, textarea {
    font-size: 14px;
    position: relative;
}

code {
    font-family: monospace;
}

input:focus, select:focus, textarea:focus, button:focus, div[contentEditable=true] {
    outline: none;
}

input[type=text], input.t, textarea, select {
   -webkit-appearance: none;
   border-radius: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #2a66d9;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 100%; max-width: 750px; margin: 0 auto;position:relative;
    min-height: 100%;
    border:solid 1px #eee;border-width:0 1px;
}

.articles {
    width: 100%;
    border-collapse: collapse;
}

.articles td {
    padding: 0.4em; 
    line-height: 1.5em;
}

.articles td.nowrap {
    white-space: nowrap;
    width: 1px;
}

input.t, textarea, select.t {
    width: 100%;
    resize: none;
    border: solid 1px #ccc;
    padding: 0.5em;
}

pre {
    font: inherit;
    white-space: pre-wrap;
    word-break: break-all;
}

nav {
    line-height: 3em;
    background: #feb;
    border-bottom: solid 2px rgba(0,0,0,0.1);
}

nav a {
    cursor: pointer;
	display: inline-block;
    color: #233 !important;
	text-decoration: none;
    padding: 0 0.66em;
    transition: background 0.33s;
}

nav a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05)
}

.paging {
    text-align:center;
    padding: 1em;
}

.paging a {
    display: inline-block;
    margin: 0 0.2em;
}

div.subreply {
    padding-left:1.5em;
}

div.subreply .row-header {
    background: transparent;
    padding: 0;
    margin: 0;
}

div.subreply .post-author {
    margin-left: 0;
}

div.rows.replies .row, div.subreply .row {
    margin: 0;
}

div.row {
    background: #f6f6f6;
    margin: 0.5em 0;
    overflow: hidden;
}

div.row-header {
    margin: -0.5em -0.5em 0 -0.5em;
    background: rgba(0,0,0,0.04);
    padding: 0.5em;
    position: relative;
}

div.row-header > * {
    margin-right: 0.33em;
    display: inline-block;
}

div.row-header.title {
    text-align:left;margin:-0.5em -0.5em 0.5em;
    line-height: 36px;
}

div.row .foobar {
    padding-top: 0.75em; line-height:1.5em
}

div.row .foobar > a {
    display: inline-block;
    padding-bottom: 0.2em;
    border-bottom: solid 0.3em transparent;
    transition: border-bottom-color 0.25s;
}

div.row .foobar > a:hover {
    border-bottom-color: #677;
}

img.majiang { width: 28px; height: 28px; }

span.time.sec:after { content: '秒前' }
span.time.min:after { content: '分钟前' }
span.time.hour:after { content: '小时前' }
span.time.day:after { content: '天前' }
span.time.none:after { content: '无' }
span.time.now:after { content: '刚刚' }

span.deleted:after {
    content: '内容已删除，不要想了';
    text-shadow: 0 0 5px #667;
    color: transparent;
}

span.abbr:after {
    content: '...重复内容';
    font-weight: bold;
    color: #aaa;
    display: inline-block;
    margin-left: 0.5em
}

.status {
    text-align: center;
    display: inline-block;
    padding: 0.5em 0.5em 0;
    background: #fcfdfe;
    width: 100%;
}

.status span a i[class^="icon-"] {
    text-decoration: none !important;
    font-size: 16px;
}

.status .title {
    margin:-0.5em 0 0.5em;
    line-height:2.25em;
    position: relative;
    display: flex;
}

.status .title:last-child {
    margin-bottom: 0;
}

.status .title > span {
    display: inline-block;
    line-height: 3em;
    flex: 0 33%;
    border-radius: 5px;
    margin: 0.5em 0;
    transition: background 0.5s;
}

.status .title > span:hover {
    background: rgba(0,0,0,0.033);
}

.status .sub-status {
    color: #233;
    font-weight: normal;
}

.status a { color: #233 }

.status a:hover { text-decoration: none; }

div.status-box {
    text-align:center;
    line-height:2em;
}

.reply-box {
    display: inline-block;
    margin-right: 0.5em;
    text-decoration: none !important;
}

[mod=true] {
    color: #673ab7 !important;
    font-weight: bold;
}

div.avatar-container {
    width: 36px;
    margin-right:0.75em;
    text-align: center;
}

img.avatar {
    border-radius:3px;display:inline-block;vertical-align:middle;max-width:36px;max-height:36px;overflow:hidden;
    margin: 0 auto;
    flex-shrink: 0; cursor: pointer;
}

img.avatar + .avatar-kimochi {
    width:20px;
    height:20px;
    position:absolute;
    left:32px;
    top:6px;
}

.media {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.media a {
    display: block;
    width: 100%;
    height: 100%;
}

.media img {
    opacity: 0;
    display: block;
}

.media button {
    width: 100%;
    height: 100%;
}

.long-image {
    position: absolute;
    display: none;
    right: 4px;
    bottom: 4px;
    padding: 0.2em 0.5em;
    background: rgba(0,0,0,0.4);
    color: white;
    border-radius: 4px;
}

.post-date {
    flex-grow: 1; white-space: nowrap;
}

.post-author {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0.33em;
}

div.tri {
    height: 0;
    width: 0;
    position: absolute;
    border: solid 8px black;
    border-color: transparent transparent white;
    bottom: 0;
    margin-left: -8px;
    left: 50%;
}
.post-options {
    display: inline-block;
    position: relative;
}
.post-options ul {
    display: none;
    position: absolute;
    left: 0;
    background: #fafbfc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    list-style: none;
    line-height: 1.5em;
    text-align:left;
    margin-bottom: 2em;
}
.post-options ul li {
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0;
    white-space: nowrap;
}
.post-options:hover ul {
    display: block;
    z-index: 1000;
}
.post-options ul li:hover {
    background: #bdf;
}
.post-options-emoji img {
    width: 24px;
    height: 24px;
}
.post-options-emoji:hover ul {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    height: 250px;
    overflow-y: scroll;
}
.post-options-emoji a {
    text-decoration: none !important;
}
.post-button {
    position: absolute;
    line-height: 36px;
    width: 36px;
    height: 36px;
    background: #64b5f6;
    transition: background 0.3s;
    color: white;
    text-align:center;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
    right: 1em;
    bottom: 1em;
    cursor: pointer;
    font-size: 18px;
}
.post-button:hover {
    background: #2196f3;
}
