/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/s/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('/s/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/s/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('/s/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/s/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/s/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/s/fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/s/fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/s/fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/s/fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/s/fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/s/fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

@supports (-webkit-overflow-scrolling: touch) {
    -webkit-text-size-adjust: 120%;
}

body, button, input, textarea {
    font-size: 14px;
    position: relative;
    color: {{.NormalText}};
    background: {{.BodyBG}};
}

button, input, textarea {
    background: {{.InputBG}};
}

input[type=radio], input[type=checkbox] {
    margin-right: 0.2em;
}

::placeholder {
    color: {{.MidGrayText}};
    opacity: 1;
}

{{if eq .Mode "dark"}}
::-webkit-scrollbar { background: {{.InputBG}}; width: 0.66em; box-shadow: 0 0 2px black inset; }
::-webkit-scrollbar-thumb { background: {{.Navbar}}; }
{{end}}

code {
    font-family: monospace;
}

input:focus, select:focus, textarea:focus, button:focus, div[contentEditable=true] {
    outline: none;
}

input[type=text], input.t, textarea, select {
   -webkit-appearance: none;
   border-radius: 0;
   border: solid 1px {{.Border}};
}

a {
    text-decoration: none;
    color: {{.Button}};
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    background: {{.ContainerBG}};
}

input.t, textarea, select.t {
    width: 100%;
    resize: none;
    border: solid 1px {{.Border}};
    padding: 0.5em;
}

pre {
    font: inherit;
    white-space: pre-wrap;
    word-break: break-all;
}

nav {
    line-height: 3em;
    background: {{.Navbar}};
    border-bottom: solid 2px rgba(0,0,0,0.04);
}

nav a {
    cursor: pointer;
	display: inline-block;
    color: {{.NormalText}} !important;
	text-decoration: none;
    padding: 0 0.66em;
    transition: background 0.3s;
}

nav a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.1);
}

.paging {
    text-align: center;
    padding: 1em;
}

.paging a {
    display: inline-block;
    margin: 0 0.2em;
}

img.majiang { width: 28px; height: 28px; }
img.majiang.ac-emoji { width: 48px; height: 48px; }

span.time.sec:after { content: '秒前' }
span.time.min:after { content: '分钟前' }
span.time.hour:after { content: '小时前' }
span.time.day:after { content: '天前' }
span.time.none:after { content: '无' }
span.time.now:after { content: '刚刚' }
span.time i { font-style: normal; opacity: 0.6 }
@media only screen and (max-width: 550px) { span.time i { display:none } }

span.deleted:after {
    content: '内容已删除，不要想了';
    text-shadow: 0 0 5px {{.NormalText}};
    color: transparent;
}

.article-row.status {
    padding: 0.5em;
    margin: 0;
    width: 100%;
    z-index: 10000;
}

.user-info-box {
    border-radius: 0.5em;
    overflow: hidden;
    min-width: 200px;
}

[mod=true] {
    color: {{.ModText}} !important;
    font-weight: bold;
}

.media-container {
    margin: 0.5em 0 0;
}

.media {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.media.cell {
    margin:0.2em;display:inline-block;width:120px;height:120px;
    vertical-align:top;
}

.media.cell.large {
    width: 200px; height:200px;
}

.media a {
    display: block;
    width: 100%;
    height: 100%;
}

.media img {
    opacity: 0;
    display: block;
}

.media button {
    width: 100%;
    height: 100%;
}

.media .image-index.long-image {
    display: none;
    left: initial; width: initial;
    right: 4px;
    padding: 0 1em;
}

.media .image-index.image-next {
    display: none; 
    left: 50%; width: initial; transform: translateX(-50%);
    line-height: 32px; height:32px; width: 32px; border-radius:50%;
    font-size: 16px;
}

.media .image-index.open-blank {
    position: absolute;
    bottom: 4px; left: 30px;
    font-size: 9px;
    padding: 0 1em;
    cursor: pointer;
    display: none;
    width: initial; height: 22px; line-height: 22px;
}

.media .image-index {
    color: #eee;
    display: block; position: absolute;
    text-align: center; font-size: 9px;
    bottom: 4px; left: 4px;
    background: rgba(0,0,0,0.66);
    width: 22px; height: 22px; line-height: 22px; border-radius: 11px;
}

.media[enlarge=enlarge] .image-index.image-enlarge-badge,
.media[enlarge=enlarge] .image-index.image-next {
    display: block !important;
}

.post-date {
    flex-grow: 1; white-space: nowrap;
}

.post-author {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0.5em;
}

#post-button + div { opacity: 1; transition: opacity 0.3s }
#post-button + div + div { opacity: 1; transition: opacity 0.5s }
#post-button:hover + div, #post-button:hover + div + div { opacity: 0 }

.post-options {
    display: inline-block;
    position: relative;
}
.post-options ul {
    display: none;
    position: absolute;
    left: 0;
    background: {{.LightBG}};
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    list-style: none;
    line-height: 1.5em;
    text-align:left;
    margin-bottom: 2em;
}
.post-options ul li {
    padding: 0.5em 1em;
    cursor: pointer;
    margin: 0;
    white-space: nowrap;
}
.post-options:hover ul {
    display: block;
    z-index: 1000;
}
.post-options ul li:hover {
    background: {{.Navbar}};
}
.post-options-emoji img {width: 24px; height: 24px;}
.post-options-emoji img.ac-emoji {width: 36px; height: 36px }
.post-options-emoji:hover ul {
    display: flex;
    flex-wrap: wrap;
    background: {{.InputBG}};
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}
.post-options-emoji a { text-decoration: none !important }
.post-options-emoji li { border-radius: 5px }

img.kimochi-selector[kimochi="0"] {
    border: dashed 1px {{.NormalText}};
    border-radius:50%
}

.tagrow {
    border-bottom: solid 1px {{.Border}};
    padding: 0.5em;
    cursor: pointer;
    display: flex;
    line-height: 2em;
    background: {{.Row}};
}

.tagrow:first-child {
    border-top: solid 1px {{.Border}};
}

.toast {
    cursor:pointer;
    font-size:90%;
    position:fixed;
    left: 50%;
    color: {{.Toast}};
    line-height: 32px;
    text-align: center;
    word-break: break-all;
    bottom: 32px;
    border-radius:16px;
    background: {{.ToastBG}};
    transform: translate(-50%, 0);
    padding:0 1em;
}

.image-loading-div {
    position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.33);opacity:0;transition:opacity 0.5s;
}

.hidden-text {background: {{.NormalText}}; color: {{.NormalText}}; cursor: pointer }
.hidden-text:hover, .hidden-text:active { color: {{.BodyBG}} }

.poll-article {  margin: 0.5em 0 }
.poll-article .poll-item {
    padding: 0.5em;
    margin: 0.5em 0;
    line-height:1.5em;
    border-radius: 0.5em;
}
.poll-article input { margin-right: 0.5em }
.poll-article .poll-votes {
    float: right;font-weight:bold;background:{{.Row}};
    padding:0 0.5em;border:solid 1px {{.Border}};border-radius:0.7em
}
.poll-article .poll-item[voted=true] { background: {{.Navbar}} }

.newly-added-row:after {
    content: ' ';
    display: block;
    position: absolute; width: 100%; height: 100%; left: 0; top: 0;
    background-color: {{.GreenText}};
    opacity: 0.25;
    transition: opacity 1s;
}

.newly-added-row.finished:after { opacity: 0; }

.tmpl-normal-text { color: {{.NormalText}} !important }
.tmpl-mid-text { color: {{.MidGrayText}} !important }
.tmpl-red-text { color: {{.RedText}} !important }
.tmpl-nsfw-text { color: {{.NSFWText}} !important }
.tmpl-green-text { color: {{.GreenText}} !important }
.tmpl-border { border-color: {{.Border}} !important }
.tmpl-light-bg { background: {{.LightBG}} !important }
.tmpl-row-light-bg { background: {{.Row}} !important }
.tmpl-input-bg { background: {{.InputBG}} !important }
.tmpl-body-bg { background-color: {{.BodyBG}} !important }
.tmpl-navbar-titlebar-bg { background-color: {{.NavbarTitlebar}} !important }

.navbar-titlebar {
    background: {{.NavbarTitlebar}} !important;
    padding:0 0.5em;cursor:pointer;line-height:2.5em;
    min-height: 2.5em;
}

.article-row {
    margin: 1.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
    padding: 0.5em;
    background: {{.Row}};
    position: relative;
}

.article-row pre {
    font-size:110%;
    padding:0.8em 0.5em 0;
}

.article-row .foobar {
    margin-top: 0.5em;
}

.subreply .article-row {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0.5em -0.5em -0.5em -0.5em;
    {{if eq .Mode "dark"}}
    background: linear-gradient(rgba(166, 166, 255, 0.05) 0, transparent 10em);
    {{else}}
    background: linear-gradient(rgba(0, 0,0,0.04) 0, transparent 10em);
    {{end}}
}

.article-row-header {
    height: 3em;
    line-height: 3em;
    position: relative;
    margin-top: 0.25em;
}

.article-row-header .avatar-container {
    position: absolute;
    left: 0; top: 0; width: 3em; height: 3em;
}

.article-row-header .avatar-container img.avatar {
    border-radius:0.25em;display:block;max-width:3em;max-height:3em;overflow:hidden;
    margin: 0;
    cursor: pointer;
}

.article-row-header .avatar-container img.avatar + .avatar-kimochi,
.article-row-header .avatar-container img.avatar + * + * + .avatar-kimochi {
    position:absolute;
    width:20px; height:20px;
    left: 2em; top: -2px;
}

.article-row-header .author-container, .article-row-header .what-container {
    position: absolute;
    line-height: 1.5em;
    height: 1.5em;
    left: 3.5em; right: 0;
    overflow: hidden;
}

.article-row-header .author-container { top: 0; bottom: 1.5em; }
.article-row-header .what-container { top: 1.5em; bottom: 0; padding: 0 0.5em }
.article-row-header .what-container a:hover {text-decoration:none;color:{{.GreenText}}}

.settings-box .title { padding: 0.8em 0.5em; text-align: center }
.settings-box .body > div { padding: 0.5em; }
