.gbutton {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    padding: 0 6px;
    height: 34px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: {{.Button}};
    background-color: transparent;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-weight: 500;
    line-height: 34px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

.gbutton::-moz-focus-inner {
    border: none;
}

/* Overlay */
.gbutton::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.gbutton::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px;
    height: 32px;
    background-color: currentColor;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1) ;
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.gbutton:hover::before {
    opacity: 0.12;
}

.gbutton:focus::before {
    opacity: 0.16;
}

.gbutton:hover:focus::before {
    opacity: 0.20;
}

/* Active */
.gbutton:active::after {
    opacity: 0.20;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.gbutton:disabled {
    color: {{.ButtonDisabled}};
    background-color: transparent;
    cursor: initial;
}

.gbutton:disabled::before {
    opacity: 0;
}

.gbutton:disabled::after {
    opacity: 0;
}

.gbutton:hover {
    text-decoration: none;
}
.icon-down-big.cls-reply {
    color: {{.MidGrayText}}
}
.icon-flow-merge:before {
    margin-left: 0 !important 
}
.icon-down-dir.right:before {
    margin-right: 0 !important 
}
.icon-history.left:before {
    margin-left: 0 !important 
}
.control.icon-left-small, .control.icon-link {
    font-size:16px;
    cursor:pointer; 
}
.control.icon-left-small:hover,.control.icon-link:hover {
    color: {{.MidGrayText}}
}
.media .image-index.image-next:before {
    margin-left: 0;
    margin-right: 0;
}
.follow-block .icon-heart-broken {
    color: {{.RemoveFriend}}
}
.icon-block.block-true, .icon-block.block-false {
    color: {{.RedText}};
}
.icon-block.block-false {
    text-shadow: 0 0 2px black;
    color: white; 
}
.reply-table .icon-comment {
    padding-top: 1px; 
}
.icon-reply-outline.replied:before {
    transform:rotate(-135deg); 
}
.foobar .icon-down-big:before {
    transform:rotate(180deg); 
}
.post-options [name="anon"][value="1"] .icon-user-secret {
    color: {{.GreenText}};
}
.post-options [name="reply-lock"]:not([value="0"]) .icon-lock {
    display: block;
    color: {{.GreenText}};
}
.post-options [name="reply-lock"]:not([value="0"]) .icon-lock-open {
    display: none 
}
.post-options [name="reply-lock"][value="0"] .icon-lock {
    display: none 
}
.post-options [name="reply-lock"][value="0"] .icon-lock-open {
    display: block 
}
a[value=true] .icon-eye-off {
    color: {{.NSFWText}};
}
a[value=false] .icon-eye-off {
    color: {{.MidGrayText}};
}
a[value=false] .icon-eye-off:before {
    content: '\e81e';
}

.tribute-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    display: block;
    z-index: 999999;
}
.tribute-container ul {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    list-style: none;
    background: {{.LightBG}};
    border: solid 1px {{.Border}};
}
.tribute-container li {
    padding: 5px 5px;
    cursor: pointer; 
}
.tribute-container li.highlight {
    background: {{.Navbar}}; 
}
.tribute-container li span {
    font-weight: bold; 
}
.tribute-container li.no-match {
    cursor: default; 
}
.tribute-container .menu-highlighted {
    font-weight: bold; 
}
.dz-preview {
    background-color: {{.LightBG}};
    border: solid 1px {{.Border}};
    overflow: hidden;
}
.dz-remove:hover {
    text-decoration: none !important;
}
.dz-default:after {
    color: {{.MidGrayText}};
    content: '图片';
}

/* dropzone css */
.dropzone,.dropzone *{box-sizing:border-box}
.dz-default button {display:none}
.dz-default {grid-column:1/100}
.dropzone{position:relative;min-height:3em;border-radius:6px;display:grid;grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));}
.dropzone .dz-preview{position:relative;display:inline-block;width:100px;margin:5px auto}.dropzone .dz-preview .dz-progress{display:block}
.dropzone .dz-preview .dz-progress .dz-upload{display:block;height:100%;width:0;background:green}.dropzone .dz-preview .dz-error-message{display:none}.dropzone .dz-preview.dz-error .dz-error-message,.dropzone .dz-preview.dz-error .dz-error-mark{display:block}
.dropzone .dz-message{line-height:3em;text-align:center;margin:0}
.dropzone .dz-preview .dz-error-mark,.dropzone .dz-preview .dz-success-mark{
    position: absolute;
    display: none;
    z-index: 100;
}
.dropzone.dz-clickable{cursor:pointer}.dropzone.dz-clickable *{}.dropzone.dz-clickable .dz-message,.dropzone.dz-clickable .dz-message *{cursor:pointer}.dropzone.dz-started .dz-message{display:none}.dropzone.dz-drag-hover{border-style:solid}.dropzone.dz-drag-hover .dz-message{opacity:0.5}.dropzone .dz-message .dz-button{background:none;color:inherit;border:none;padding:0;font:inherit;cursor:pointer;outline:inherit}.dropzone .dz-preview{position:relative;display:inline-block;vertical-align:top;min-height:100px}.dropzone .dz-preview:hover{z-index:1000}.dropzone .dz-preview.dz-file-preview .dz-image{background:linear-gradient(to bottom, #eee, #ddd)}
.dropzone .dz-preview { position: relative;border-radius:6px;}
.dropzone .dz-preview .dz-remove{line-height:2em;height:2em;font-size:14px;text-align:center;display:block;cursor:pointer;border:none}.dropzone .dz-preview .dz-remove:hover{text-decoration:underline}.dropzone .dz-preview:hover .dz-details{opacity:1}
.dropzone .dz-preview .dz-details{display:none}
.dropzone .dz-preview .dz-image{overflow:hidden;width:100px;height:100px;position:relative;display:block;z-index:10}.dropzone .dz-preview .dz-image img{display:block}
.dropzone .dz-preview.dz-error .dz-error-mark{pointer-events:none;background:rgba(0,0,0,0.5);position:absolute;top:0;left:0;width:100%;bottom:2em;opacity:1;z-index:50;position:absolute;display:block}
.dropzone .dz-preview .dz-error-mark svg{display:block;width:16px;height:16px}
.dropzone .dz-preview.dz-complete .dz-progress{display:none}
.dropzone .dz-preview .dz-progress{
    z-index:100;
    pointer-events:none;
    position:absolute;
    width:100%;left:0;top:0;bottom:2em;
    background:no-repeat center url(/s/assets/spinner2.gif);
    background-color:rgba(255,255,255,0.5);
    overflow:hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload{display:none}.dropzone .dz-preview.dz-error .dz-error-message{display:block}
.dropzone .dz-success-mark,.dropzone .dz-preview .dz-error-message{text-align:center;color:#eee;pointer-events:none;z-index:100;position:absolute;display:block;display:none;background:rgba(0,0,0,0.8);font-size:80%;top:0;left:0;width:100%;padding:0.5em;}
.dz-error-mark svg g g { display: none; }

/*! Hint.css - v2.6.0 - 2019-04-27
* http://kushagragour.in/lab/hint/
* Copyright (c) 2019 Kushagra Gour */

[class*=hint--]{position:relative;display:inline-block}[class*=hint--]:after,[class*=hint--]:before{position:absolute;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:hidden;opacity:0;z-index:1000000;pointer-events:none;-webkit-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease;-webkit-transition-delay:0s;-moz-transition-delay:0s;transition-delay:0s}[class*=hint--]:hover:after,[class*=hint--]:hover:before{visibility:visible;opacity:1;-webkit-transition-delay:.1s;-moz-transition-delay:.1s;transition-delay:.1s}[class*=hint--]:before{content:'';position:absolute;background:0 0;border:6px solid transparent;z-index:1000001}[class*=hint--]:after{background:#383838;color:#fff;padding:8px 10px;font-size:12px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:12px;white-space:nowrap;text-shadow:0 -1px 0 #000;box-shadow:4px 4px 8px rgba(0,0,0,.3)}[class*=hint--][aria-label]:after{content:attr(aria-label)}[class*=hint--][data-hint]:after{content:attr(data-hint)}[aria-label='']:after,[aria-label='']:before,[data-hint='']:after,[data-hint='']:before{display:none!important}.hint--top-left:before,.hint--top-right:before,.hint--top:before{border-top-color:#383838}.hint--bottom-left:before,.hint--bottom-right:before,.hint--bottom:before{border-bottom-color:#383838}.hint--top:after,.hint--top:before{bottom:100%;left:50%}.hint--top:before{margin-bottom:-11px;left:calc(50% - 6px)}.hint--top:after{-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}.hint--top:hover:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--top:hover:after{-webkit-transform:translateX(-50%) translateY(-8px);-moz-transform:translateX(-50%) translateY(-8px);transform:translateX(-50%) translateY(-8px)}.hint--bottom:after,.hint--bottom:before{top:100%;left:50%}.hint--bottom:before{margin-top:-11px;left:calc(50% - 6px)}.hint--bottom:after{-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}.hint--bottom:hover:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--bottom:hover:after{-webkit-transform:translateX(-50%) translateY(8px);-moz-transform:translateX(-50%) translateY(8px);transform:translateX(-50%) translateY(8px)}.hint--right:before{border-right-color:#383838;margin-left:-11px;margin-bottom:-6px}.hint--right:after{margin-bottom:-14px}.hint--right:after,.hint--right:before{left:100%;bottom:50%}.hint--right:hover:after,.hint--right:hover:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--left:before{border-left-color:#383838;margin-right:-11px;margin-bottom:-6px}.hint--left:after{margin-bottom:-14px}.hint--left:after,.hint--left:before{right:100%;bottom:50%}.hint--left:hover:after,.hint--left:hover:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--top-left:after,.hint--top-left:before{bottom:100%;left:50%}.hint--top-left:before{margin-bottom:-11px;left:calc(50% - 6px)}.hint--top-left:after{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%);margin-left:12px}.hint--top-left:hover:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--top-left:hover:after{-webkit-transform:translateX(-100%) translateY(-8px);-moz-transform:translateX(-100%) translateY(-8px);transform:translateX(-100%) translateY(-8px)}.hint--top-right:after,.hint--top-right:before{bottom:100%;left:50%}.hint--top-right:before{margin-bottom:-11px;left:calc(50% - 6px)}.hint--top-right:after{-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);margin-left:-12px}.hint--top-right:hover:after,.hint--top-right:hover:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--bottom-left:after,.hint--bottom-left:before{top:100%;left:50%}.hint--bottom-left:before{margin-top:-11px;left:calc(50% - 6px)}.hint--bottom-left:after{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);transform:translateX(-100%);margin-left:12px}.hint--bottom-left:hover:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--bottom-left:hover:after{-webkit-transform:translateX(-100%) translateY(8px);-moz-transform:translateX(-100%) translateY(8px);transform:translateX(-100%) translateY(8px)}.hint--bottom-right:after,.hint--bottom-right:before{top:100%;left:50%}.hint--bottom-right:before{margin-top:-11px;left:calc(50% - 6px)}.hint--bottom-right:after{-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);margin-left:-12px}.hint--bottom-right:hover:after,.hint--bottom-right:hover:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--large:after,.hint--medium:after,.hint--small:after{white-space:normal;line-height:1.4em;word-wrap:break-word}.hint--small:after{width:80px}.hint--medium:after{width:150px}.hint--large:after{width:300px}.hint--error:after{background-color:#b34e4d;text-shadow:0 -1px 0 #592726}.hint--error.hint--top-left:before,.hint--error.hint--top-right:before,.hint--error.hint--top:before{border-top-color:#b34e4d}.hint--error.hint--bottom-left:before,.hint--error.hint--bottom-right:before,.hint--error.hint--bottom:before{border-bottom-color:#b34e4d}.hint--error.hint--left:before{border-left-color:#b34e4d}.hint--error.hint--right:before{border-right-color:#b34e4d}.hint--warning:after{background-color:#c09854;text-shadow:0 -1px 0 #6c5328}.hint--warning.hint--top-left:before,.hint--warning.hint--top-right:before,.hint--warning.hint--top:before{border-top-color:#c09854}.hint--warning.hint--bottom-left:before,.hint--warning.hint--bottom-right:before,.hint--warning.hint--bottom:before{border-bottom-color:#c09854}.hint--warning.hint--left:before{border-left-color:#c09854}.hint--warning.hint--right:before{border-right-color:#c09854}.hint--info:after{background-color:#3986ac;text-shadow:0 -1px 0 #1a3c4d}.hint--info.hint--top-left:before,.hint--info.hint--top-right:before,.hint--info.hint--top:before{border-top-color:#3986ac}.hint--info.hint--bottom-left:before,.hint--info.hint--bottom-right:before,.hint--info.hint--bottom:before{border-bottom-color:#3986ac}.hint--info.hint--left:before{border-left-color:#3986ac}.hint--info.hint--right:before{border-right-color:#3986ac}.hint--success:after{background-color:#458746;text-shadow:0 -1px 0 #1a321a}.hint--success.hint--top-left:before,.hint--success.hint--top-right:before,.hint--success.hint--top:before{border-top-color:#458746}.hint--success.hint--bottom-left:before,.hint--success.hint--bottom-right:before,.hint--success.hint--bottom:before{border-bottom-color:#458746}.hint--success.hint--left:before{border-left-color:#458746}.hint--success.hint--right:before{border-right-color:#458746}.hint--always:after,.hint--always:before{opacity:1;visibility:visible}.hint--always.hint--top:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--top:after{-webkit-transform:translateX(-50%) translateY(-8px);-moz-transform:translateX(-50%) translateY(-8px);transform:translateX(-50%) translateY(-8px)}.hint--always.hint--top-left:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--top-left:after{-webkit-transform:translateX(-100%) translateY(-8px);-moz-transform:translateX(-100%) translateY(-8px);transform:translateX(-100%) translateY(-8px)}.hint--always.hint--top-right:after,.hint--always.hint--top-right:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--bottom:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--bottom:after{-webkit-transform:translateX(-50%) translateY(8px);-moz-transform:translateX(-50%) translateY(8px);transform:translateX(-50%) translateY(8px)}.hint--always.hint--bottom-left:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--bottom-left:after{-webkit-transform:translateX(-100%) translateY(8px);-moz-transform:translateX(-100%) translateY(8px);transform:translateX(-100%) translateY(8px)}.hint--always.hint--bottom-right:after,.hint--always.hint--bottom-right:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--left:after,.hint--always.hint--left:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--always.hint--right:after,.hint--always.hint--right:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--rounded:after{border-radius:4px}.hint--no-animate:after,.hint--no-animate:before{-webkit-transition-duration:0s;-moz-transition-duration:0s;transition-duration:0s}.hint--bounce:after,.hint--bounce:before{-webkit-transition:opacity .3s ease,visibility .3s ease,-webkit-transform .3s cubic-bezier(.71,1.7,.77,1.24);-moz-transition:opacity .3s ease,visibility .3s ease,-moz-transform .3s cubic-bezier(.71,1.7,.77,1.24);transition:opacity .3s ease,visibility .3s ease,transform .3s cubic-bezier(.71,1.7,.77,1.24)}.hint--no-shadow:after,.hint--no-shadow:before{text-shadow:initial;box-shadow:initial}
.hint:after {
    width: 150px;
    white-space: pre-wrap !important;
    line-height: 1.5em !important;
}
