/** Fifty shades of Tux
 * A black, white and yellow css for kernel.org based on normalize.css
 * MIT License
 * BenoÃ®t Monin [benoit.monin gmx.fr]
 */

body {
    background: #F0EDE3;
    color: #33290A;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    padding: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: oswald,helvetica,sans-serif;
    margin: 2px 0;
}

a {
    color: #3357D6;
    text-decoration: none;
}

a:visited {
    color: #865796;
    text-decoration: none;
}

a:hover,
a:active {
    color: #B39223;
    text-decoration: none;
}

abbr[title] {
    border: none;
}

hr {
    border: none;
}

input.t, textarea {
    width: 100%;
}

div.row {
    margin: 0.5em 0;
}

div.row * {
    vertical-align: top;
}

div.reply {
    border-bottom: dotted 1px #666;
    display: table;
}

pre {
    font: inherit;
    margin: 0.33em 0;
    white-space: pre-wrap;
}

span.tag {
    display: inline-block;
    position: relative;
    padding: 0 3px 0 4px;
    overflow: hidden;
    background: rgba(0,0,0,0.05);
}

span.tag:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 0;
    top: -6px;
    border: 6px solid transparent;
    border-left: 6px solid #076;
}

span.tag b {
    color: #233;
    margin-right: 2px;
}

nav {
	background-color: #678;
}

nav ul {
    z-index: 9999;
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}

nav ul li {
	display: inline-block;
	background-color: #678;
}

nav a {
    cursor: pointer;
	display: block;
    color: white !important;
    padding: 2px 4px;
    line-height: 26px;
	text-decoration: none;
}

nav a:hover {
    background: #233;
    color: white;
}

nav ul ul li {
    background: #789;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 30px; /* the height of the main nav */
}

nav ul li:hover > ul, nav ul a:active + ul {
	display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

.image {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
}
