{{template "header.html" .}}
<title>记事编辑</title>
<script src="/ns:static/assets/diff.js"></script>

<style>
.image-selector-container { margin: 0.5em } 
div.diff-row {white-space:pre-wrap;padding:0 0.5em;line-height: 1.5em}
div.diff-row.del{background:#ffebe9}
div.diff-row.ins{background:#ccffd8}
</style>

<div>
    <table id=edit>
        {{if .T.readonly}}
        <tr style='background:#ffe0b2'>
            <td colspan=2>
                <div class=display>
                    <b class=wrapall>{{.T.note.HTMLTitleDisplay}}</b>&nbsp;
                    <span>{{formatUnixMilli .T.recordUnix}} 的历史版本</span>
                </div>
            </td>
        </tr>
        {{end}}

        {{with .T.note}}
        {{if .PendingReview}}
        <tr style='background:#fffddd'>
            <td class=small>待审核</td>
            <td>
                <div class=display>
                    <div class=wrapall style='flex-grow:1'>{{safeHTML .ReviewTitle}}</div>
                    {{if not $.T.readonly}}
                    <div class='tag-box button' onclick='ajaxBtn(this,"approve",{"id":{{.Id}}})'><span>通过</span></div>
                    <div class='tag-box button' onclick='ajaxBtn(this,"reject",{"id":{{.Id}}})'><span>驳回</span></div>
                    {{end}}
                </div>
            </td>
        </tr>
        {{end}}

        <tr>
            <td class=small>ID</td>
            <td>
                <div class=display>
                    <span>{{.Id}}&nbsp;</span>
                    <a class='tag-edit-button icon-eye' href='/{{.EscapedTitle}}'></a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <div class=display>
                    <script type="text/plain" id=title{{.Id}}>{{.Title}}</script>
                    <input placeholder='标题' id="title" maxlength={{$.GetTitleMaxLen}} class=tag-edit-name {{if $.T.readonly}}readonly{{end}}/>
                    {{if not $.T.readonly}}
                    <div class='tag-box button' onclick='updateNote(this)' id=update {{if $.T.readonly}}style='display:none'{{end}}>更新</div>
                    {{end}}
                </div>
            </td>
        </tr>
        {{if and (not $.User.IsMod) (ne $.UserDisplay .Creator) (not $.T.readonly)}}
        <tr>
            <td colspan=2>
                <div class='display wrapall' style='font-size:90%;color:#e91e63'
                    >修改将会由创建者或管理员审核后生效，在此之前你可以驳回自己的修改或进一步编辑。</div>
            </td>
        </tr>
        {{end}}
        {{$showImageDiff := and .PendingReview (ne .Image .ReviewImage)}}
        <tr>
            <td colspan=2>
                <div class=display>
                    {{if $showImageDiff}}
                    <input id="current-image" readonly type=file class='image-selector' accept="image/*">
                    <div class=icon-right-big></div>
                    <input id="image" {{if $.T.readonly}}readonly{{end}} type=file class='image-selector' accept="image/*">
                    {{else}}
                    <input id="image" {{if $.T.readonly}}readonly{{end}} type=file class='image-selector' accept="image/*">
                    {{end}}
                </div>
            </td>
        </tr>
        {{if .PendingReview}}
        <tr>
            <td colspan=2>
                <div class=display>
                    <label><input onclick='switchDiffView(this)' type=radio name=diff value=current checked> 原内容&emsp;</label>
                    <label><input onclick='switchDiffView(this)' type=radio name=diff value=review> 新内容&emsp;</label>
                    <label><input onclick='switchDiffView(this)' type=radio name=diff value=diff> Diff内容&emsp;</label>
                </div>
            </td>
        </tr>
        {{end}}
        <tr id='tr-content-current'>
            <td colspan=2>
                <div class=display>
                    <textarea id="content"
                        {{if $.T.readonly}}readonly{{end}}
                        maxlength={{$.GetContentMaxLen}}
                        class=tag-edit-desc
                        style='height:10em'>{{safeHTML .Content}}</textarea>
                </div>
            </td>
        </tr>
        {{if .PendingReview}}
        <tr id='tr-content-review' style='display:none'>
            <td colspan=2>
                <div class=display>
                    <textarea id="review-content" readonly class=tag-edit-desc style='height:10em'
                        >{{safeHTML .ReviewContent}}</textarea>
                </div>
            </td>
        </tr>
        <tr id='tr-content-diff' style='display:none'>
            <td colspan=2 style='padding: 0'>
                <div id=diff style='width: 100%'></div>
            </td>
        </tr>
        {{end}}

        {{$parents := getFullParents .}}
        {{if or $parents (not $.T.readonly)}}
        <tr>
            <td colspan=2>
                <div class=display>
                    <div id=parents
                         {{if $.T.readonly}}readonly=readonly{{end}}
                         max-tags={{$.GetParentsMax}}
                         {{range $i, $t := $parents}}tag-data{{$i}}={{$t}} {{end}}
                         class='tag-search-input-container'
                         style='width:100%'></div>
                </div>
                <script>wrapTagSearchInput($('#parents').get(0))</script>
            </td>
        </tr>
        {{end}}

        <tr><td class=small>编辑历史</td><td><div class=display><a href='/ns:history?note={{.Id}}&desc=1'>查看</a></div></td></tr>
        <tr>
            <td class=small>状态</td>
            <td>
                <div class=display>
                    <span>{{if .Lock}}<b>锁定中</b>{{else}}正常{{end}}&nbsp;</span>
                    {{if not $.T.readonly}}
                    <div class='tag-edit-button button' action=''
                         onclick='ajaxBtn(this,{{if .Lock}}"Unlock"{{else}}"Lock"{{end}}, {"id": {{.Id}}})'>
                        <span class=icon-lock></span>
                    </div>
                    {{end}}
                </div>
            </td>
        </tr>
        <tr>
            <td class=small>创建者</td>
            <td>
                <div class=display>
                    {{.Creator}}&nbsp;
                    <a class='tag-edit-button' href='/ns:manage?q=ns:user:{{.Creator}}'><span class=icon-user></span></a>
                </div>
            </td>
        </tr>
        <tr><td class=small>创建时间</td><td><div class=display>{{formatUnixMilli .CreateUnix}}</div></td></tr>
        <tr>
            <td class=small>最近修改人</td>
            <td>
                <div class=display>
                    {{.Modifier}}&nbsp;
                    <a class='tag-edit-button' href='/ns:history?user={{.Modifier}}'><span class=icon-user></span></a>
                </div>
            </td>
        </tr>
        <tr><td class=small>最近审核人</td><td><div class=display>{{.Reviewer}}</div></td></tr>
        <tr><td class=small>修改时间</td><td><div class=display>{{formatUnixMilli .UpdateUnix}}</div></td></tr>

        {{if and (not $.T.readonly) $.User.IsMod}}
        <tr>
            <td class=small></td>
            <td>
                <div class=display>
                    <div class='tag-box button alert' onclick='deleteNote(this)'><span>删除记事</span></div>
                </div>
            </td>
        </tr>
        {{end}}

        <script>
            $('#title').val($('#title{{.Id}}').text());
            $('#content').linedtextarea();

            {{if $showImageDiff}}
            $('#current-image').imageSelector("{{imageURL "thumb" .Image}}");
            $('#image').imageSelector("{{imageURL "thumb" .ReviewImage}}");
            {{else}}
            $('#image').imageSelector("{{imageURL "thumb" .Image}}");
            {{end}}

            {{if .PendingReview}}
            $('#review-content').linedtextarea();
            const diff = JsDiff.diffLines($('#content').val(), $('#review-content').val());
            var fragment = document.createDocumentFragment();
            for (var i=0; i < diff.length; i++) {
                if (diff[i].added && diff[i + 1] && diff[i + 1].removed) {
                    var swap = diff[i];
                    diff[i] = diff[i + 1];
                    diff[i + 1] = swap;
                }

                var node = document.createElement('div');
                if (diff[i].removed) {
                    node.className = 'diff-row del';
                } else if (diff[i].added) {
                    node.className = 'diff-row ins';
                } else {
                    node.className = 'diff-row';
                }
                node.appendChild(document.createTextNode(diff[i].value || ' '));
                fragment.appendChild(node);
            }
            $('#diff').append(fragment);
            {{end}}

            function updateNote(btn) {
                ajaxBtn(btn, "update", {
                    'id': {{.Id}},
                    'title': $("#title").val(),
                    'content': $("#content").val(),
                    'image': $('#image').get(0).image,
                    'thumb': $('#image').get(0).thumb,
                    'image_changed': $('#image').attr('changed'),
                    'image_small': $('#image').attr('small'),
                    'parents': JSON.stringify($('#parents').get(0).getTags()),
                });
            }

            function deleteNote(btn) {
                if (!confirm("确认删除该记事?")) return;
                ajaxBtn(btn, 'delete', {'id': {{.Id}}}, function(data) {
                    location.href = '/ns:manage?desc=1';
                });
            }

            function switchDiffView(i) {
                $('[id^="tr-content-"]').hide();
                $("#tr-content-" + i.value).show().css('min-height','10em');
            }
        </script>
        {{end}}
    </table>
</div>

{{template "footer.html" .}}
