{{template "header.html" .}}

<style>
.diff {
    display: flex;
    line-height: 2em;
}
.diff-header {
    font-size:90%; white-space:initial;line-height:1.25em;margin:0.2em 0;
    align-items:center; display:flex; flex-grow: 1;
}
.diff-header-ip {
    font-size:90%; color: #aaa;
}
</style>

<script>
    function diff() {
        const left = $('input[type=radio][name=diff-left]:checked').val();
        const right = $('input[type=radio][name=diff-right]:checked').val();
        if (!left || !right) return;
        const diff = JsDiff.diffLines(
            $('#record' + left).find('.content').text(),
            $('#record' + right).find('.content').text(),
        );
        var fragment = document.createDocumentFragment();
        for (var i=0; i < diff.length; i++) {
            if (diff[i].added && diff[i + 1] && diff[i + 1].removed) {
                var swap = diff[i];
                diff[i] = diff[i + 1];
                diff[i + 1] = swap;
            }

            var node = document.createElement('div');
            if (diff[i].removed) {
                node.className = 'diff-row del';
            } else if (diff[i].added) {
                node.className = 'diff-row ins';
            } else {
                node.className = 'diff-row';
            }
            node.appendChild(document.createTextNode(diff[i].value || ' '));
            fragment.appendChild(node);
        }
        const dialog = $("<div class=dialog>").
            append($("<div class=display style='padding:0.5em;background:#f1f2f3'><div class='button tag-edit-button'>" + window.CONST_closeSVG + "</div></div>")).
            append(fragment);
        dialog.find('.button').click(function() {
            dialog.remove();
            document.body.style.overflow = '';
        });
        document.body.appendChild(dialog.get(0));
        document.body.style.overflow = 'hidden';
    }
</script>

<div>
    <table id=list>
        <tr class=title>
            <td colspan=2>
                <div class=display >
                    <div style='flex-grow:1'>
                        {{if eq .T.viewType "note"}}
                            <title>{{.T.note.HTMLTitleDisplay}} 编辑历史</title>
                            <b class=wrapall>{{.T.note.HTMLTitleDisplay}}</b>
                            <a class=tag-edit-button href='/{{.T.note.EscapedTitle}}'><span class=li_eye></span></a>
                            <a class=tag-edit-button href='/ns:edit?id={{.T.note.Id}}'><span class=li_pen></span></a>
                            修改历史
                        {{end}}

                        {{if eq .T.viewType "user"}}
                            <title>{{.T.id}} 编辑历史</title>
                            {{.T.id}}
                            <a class=tag-edit-button href='/ns:manage?sort=0&q=ns:user:{{.T.id}}'><span class=li_search></span></a>
                            编辑历史
                        {{end}}

                        {{if eq .T.viewType "all"}}
                            <title>全站编辑历史</title>
                            <span>全站编辑历史</span>
                        {{end}}
                        <span>({{.T.total}})</span>
                    </div>
                    <div>
                        <a class='tag-edit-button icon-sort-number-up {{if not .P.Desc}}selected{{end}}' href='/ns:history?{{.T.viewType}}={{.T.id}}'></a>
                        <a class='tag-edit-button icon-sort-number-down {{if .P.Desc}}selected{{end}}' href='/ns:history?{{.T.viewType}}={{.T.id}}&desc=1'></a>
                    </div>
                </div>
            </td>
        </tr>
        {{range .T.records}}
        {{$tagid := .Note.Id}}
        <tr>
            <td>
                {{if eq $.T.viewType "note"}}
                <input onclick='diff()' name=diff-left value={{.Id}} type=radio>
                <input onclick='diff()' name=diff-right value={{.Id}} type=radio>
                {{end}}
                <b>{{.ActionName}}</b>
            </td>
            <td>
                <div class=diff>
                    <div class='diff-header'>
                        {{.Modifier}}&nbsp;
                        <a href='/ns:history?user={{.Modifier}}&desc=1' class='tag-edit-button li_user'></a>&nbsp;
                    </div>
                    <div class=diff-header-ip>{{.ModifierIP}}</div>
                </div>
            </td>
        </tr>
        <tr id='record{{.Id}}'>
            <td class='small'><div>{{formatUnixMilliBR .CreateUnix}}</div></td>
            {{$rid := .Id}}
            {{with .Note}}
            <td tag-id={{.Id}} class='tag-edit'>
                <textarea style='display:none' class=content>{{safeHTML .Content}}</textarea>
                <div class=display>
                    {{imageBox .Image}}
                    <div style='flex-grow:1;white-space:pre-wrap'><a href='/ns:edit?hid={{$rid}}'>{{.HTMLTitleDisplay}}</a></div>
                </div>
            </td>
            {{end}}
        </tr>
        {{end}}
    </table>
</div>

<div id=page>
    {{range (generatePages .P.Page .T.pages)}}
        {{if eq . 0}}
            <div style='width:2em;text-align:center'>&middot;&middot;&middot;</div>
        {{else}}
            {{if eq . $.P.Page}}
            <div class='tag-box nav-page button selected'><span><b>{{.}}</b></span></div>
            {{else}}
            <a class=nav-page href='?{{$.BuildPageLink .}}&{{$.T.viewType}}={{$.T.id}}'><div class='tag-box nav-page button'>{{.}}</div></a>
            {{end}}
        {{end}}
    {{end}}
</div>
{{template "footer.html" .}}
