{{template "header.html" .}}

<style>
.diff {
    display: flex;
    align-items: center;
}
.diff-header {
    font-size:90%; padding: 0.25em; flex-grow: 1;
    white-space: normal; word-break: break-all;
}
.diff-header-ip {
    font-size:90%; color: #aaa;
}
.tiny-image {
    background: center / cover no-repeat var(--image);
    background-color:rgba(0,0,0,0.05);
    width: 2em;
    height: 2em;
    border-radius: 0.25em;
}
</style>

<div>
    <table id=list class=table>
        <tr class=title>
            <td colspan=2>
                <div class=display >
                    <div style='flex-grow:1'>
                        {{if eq .T.viewType "note"}}
                            <title>{{.T.note.HTMLTitleDisplay}} 的编辑历史</title>
                            <b class=wrapall>{{.T.note.HTMLTitleDisplay}}</b> 的编辑历史
                        {{end}}

                        {{if eq .T.viewType "user"}}
                            <title>{{.T.id}} 的编辑历史</title>
                            {{.T.id}} 的编辑历史
                        {{end}}

                        {{if eq .T.viewType "all"}}
                            <title>全站编辑历史</title>
                            <span>全站编辑历史</span>
                        {{end}}
                        <span>({{.T.total}})</span>
                    </div>
                    <div>
                        <a class='tag-edit-button icon-sort-number-up {{if not .P.Desc}}selected{{end}}' href='/ns:history?{{.T.viewType}}={{.T.id}}'></a>
                        <a class='tag-edit-button icon-sort-number-down {{if .P.Desc}}selected{{end}}' href='/ns:history?{{.T.viewType}}={{.T.id}}&desc=1'></a>
                    </div>
                </div>
            </td>
        </tr>
        {{range .T.records}}
        <tr>
            <td>
                <div class=diff>
                    <div class='diff-header'>
                        {{formatUnixMilli .CreateUnix}}
                        <b>{{.Modifier}}</b>
                        (<a href='/ns:history?user={{.Modifier}}&desc=1'>历史</a> | <a href='/ns:manage?q=ns:user:{{.Modifier}}&desc=1'>记事</a>)
                        {{if eq .ActionName "create"}}创建{{end}}
                        {{if eq .ActionName "update"}}编辑{{end}}
                        {{if eq .ActionName "approve"}}通过{{end}}
                        {{if eq .ActionName "reject"}}驳回{{end}}
                        {{if eq .ActionName "lock"}}锁定{{end}}
                        {{if eq .ActionName "unlock"}}解锁{{end}}
                        {{if eq .ActionName "delete"}}删除{{end}}
                    </div>
                    {{if $.User.IsMod}}
                    <div class=diff-header-ip>{{.ModifierIP}}</div>
                    {{end}}
                </div>
            </td>
        </tr>
        <tr id='record{{.Id}}'>
            {{$rid := .Id}}
            {{$ipa := .IsPlainAction}}
            {{$msg := .RejectMsg}}
            {{with .Note}}
            <td class='tag-edit'>
                <div class=display>
                    {{if $ipa}}
                        <a class=wrapall href='/ns:id:{{.Id}}'>{{.HTMLTitleDisplay}}</a>
                        {{if $msg}}<span class=wrapall>&emsp;<i>留言：{{safeHTML $msg}}</i></span>{{end}}
                    {{else}}
                        <a class=wrapall href='/ns:edit?hid={{$rid}}' style='flex-grow: 1'>{{makeTitle . 100 true}}</a>
                        {{if .Image}}
                            <a href='{{imageURL "image" .Image}}' target=_blank>
                                <div style='--image: url({{imageURL "thumb" .Image}})' class=tiny-image></div>
                            </a>
                        {{end}}
                        {{if and .ReviewImage (ne .Image .ReviewImage)}}
                            <div class=icon-right-big style='margin-left: 0.5em'></div>
                            <a href='{{imageURL "image" .ReviewImage}}' target=_blank>
                                <div style='--image: url({{imageURL "thumb" .ReviewImage}}); margin-left: 0.5em' class=tiny-image></div>
                            </a>
                        {{end}}
                    {{end}}
                </div>
            </td>
            {{end}}
        </tr>
        {{end}}
    </table>
</div>

<div id=page>
    {{range (generatePages .P.Page .T.pages)}}
        {{if eq . 0}}
            <div style='width:2em;text-align:center'>&middot;&middot;&middot;</div>
        {{else}}
            {{if eq . $.P.Page}}
            <div class='tag-box nav-page button selected'><span><b>{{.}}</b></span></div>
            {{else}}
            <a class=nav-page href='?{{$.BuildPageLink .}}&{{$.T.viewType}}={{$.T.id}}'><div class='tag-box nav-page button'>{{.}}</div></a>
            {{end}}
        {{end}}
    {{end}}
</div>
{{template "footer.html" .}}
