{{template "header.html" .}}

{{if .T.view}}
    {{if eq .P.Page 1}}
        {{template "view.html" .}}
    {{end}}
{{end}}

<div id='search-bar' style='display:none'>
    <input id=search class='border1' style='width:100%' placeholder='搜索'>
</div>

<div>
    <table id=list>
        <tr class=title>
            <td colspan=2>
                <div class=display>
                    <span style='flex-grow:1'>
                    {{if .T.query}}
                        <title>搜索 {{safeHTML .T.query}}</title>
                        <span>
                            搜索：<b class=wrapall>{{safeHTML .T.query}}</b> ({{.T.total}})
                        </span>
                    {{else}}
                        {{if .T.view}}
                            {{if ne .P.Page 1}}<b class=wrapall>{{.T.note.HTMLTitleDisplay}} </b>{{end}}子记事
                        {{else}}
                            <title>全部记事</title>
                            全部记事
                        {{end}} ({{.T.total}})
                    {{end}}
                    </span>

                    <div>
                        {{if .T.view}}
                        <a class='tag-edit-button icon-paper-plane' href='/ns:new?pt={{.T.note.Id}},{{.T.note.QueryTitle}}'></a>
                        {{end}}
                        <a class='tag-edit-button icon-search' href='javascript:$("#search-bar").toggle().find("input").focus()'></a>
                        <a class='tag-edit-button icon-resize-full' href='javascript:void(0)' id=switch-image-size></a>
                        {{$qy := printf "q=%s" (fullEscape .T.query)}}
                        <a class='tag-edit-button icon-sort-name-up {{if and (eq .P.Sort 1) (not .P.Desc)}}selected{{end}}' href='?sort=1&{{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-name-down {{if and (eq .P.Sort 1) (.P.Desc)}}selected{{end}}' href='?sort=1&desc=1&{{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-number-up {{if and (eq .P.Sort 0) (not .P.Desc)}}selected{{end}}' href='?sort=0&{{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-number-down {{if and (eq .P.Sort 0) (.P.Desc)}}selected{{end}}' href='?sort=0&desc=1&{{$qy}}'></a>
                    </div>
                </div>
            </td>
        </tr>

        {{range .T.notes}}
        <tr id='tag{{.Id}}'>
            <td tag-id={{.Id}} class='tag-edit' colspan=2>
                <div class=display >
                    {{imageBox .Image}}
                    <a href='/{{.EscapedTitle}}' class=tag-edit-name
                        >{{.HTMLTitleDisplay}}{{if .ChildrenCount}}<span class=children-count>({{.ChildrenCount}})</span>{{end}}</a>
                    <div class=status>
                        {{if .ChildrenCount}}<div class='tag-edit-button li_data' disabled title='子记事'></div>{{end}}
                        {{if .Lock}}<div class='tag-edit-button li_lock' disabled></div>{{end}}
                        {{if .PendingReview}}<div class='tag-edit-button li_stack' disabled title='审核中'></div>{{end}}
                        <span class=time>{{formatUnixMilliBR .UpdateUnix}}</span>
                    </div>
                </div>
            </td>
        </tr>
        {{end}}
    </table>
</div>

<div id=page>
    {{$gp := generatePages .P.Page .T.pages}}
    {{range $gp}}
        {{if eq . 0}}
            <div style='width:2em;text-align:center'>&middot;&middot;&middot;</div>
        {{else}}
            {{if eq . $.P.Page}}
            <div class='tag-box button selected'><span><b>{{.}}</b></span></div>
            {{else}}
            <a class=nav-page href='?{{$.BuildPageLink .}}&q={{fullEscape $.T.query}}'><div class='tag-box button'>{{.}}</div></a>
            {{end}}
        {{end}}
    {{end}}
    {{if and (eq .P.Sort 1) $gp}}
        <a href='javascript:findLexPrefix()'><div style='margin-left: 0.2em' class='tag-edit-button icon-map-o'></div></a>
    {{end}}
</div>

<script>
    $('#search').on('keyup', function(ev) {
        if (ev.keyCode == 13) {
            {{if .T.view}}
            const title = decodeURIComponent('{{fullEscape .T.note.Title}}').replaceAll('\\', '\\\\'). replaceAll(' ', '\\ ')
            const filter = "ns:title:" + title + ' ';
            {{else}}
            const filter = "";
            {{end}}
            location.href="/ns:manage?q="+encodeURIComponent(filter + $("#search").val());
        }
    }).val(decodeURIComponent('{{fullEscape .T.query}}'))
    $('#switch-image-size').on('click', function(ev) {
        if ($(this).hasClass('icon-resize-full')) {
            $(this).removeClass('icon-resize-full').addClass('icon-resize-small');
            $('.thumb').removeClass('small').addClass('medium');
            window.localStorage.setItem('large-image', '1');
        } else {
            $(this).addClass('icon-resize-full').removeClass('icon-resize-small');
            $('.thumb').addClass('small').removeClass('medium');
            window.localStorage.removeItem('large-image');
        }
    });
    if (window.localStorage.getItem('large-image') == '1')
        $('#switch-image-size').click();

    function findLexPrefix() {
        const prefix = prompt('跳转到前缀');
        if (!prefix) return;
        location.href = '?sort=1&desc={{.T.desc}}&q={{fullEscape .T.query}}&prefix=' + encodeURIComponent(prefix);
    }
</script>

{{template "footer.html" .}}
