{{template "header.html" .}}

{{if .T.view}}
    {{if eq .P.Page 1}}
        {{template "view.html" .}}
    {{end}}
{{end}}

<div id='search-bar' style='display:none'>
    <input id=search class='border1' style='width:100%' placeholder='搜索'>
</div>

<div>
    <table id=list>
        <tr class=title>
            <td>
                <div class=display>
                    <span style='flex-grow:1'>
                    {{if .T.query}}
                        <title>搜索 {{safeHTML .T.query}}</title>
                        <span>
                            搜索：<b class=wrapall>{{safeHTML .T.query}}</b> ({{.T.total}})
                        </span>
                    {{else}}
                        {{if .T.view}}
                            {{if ne .P.Page 1}}<b class=wrapall>{{.T.note.HTMLTitleDisplay}} </b>{{end}}子记事
                        {{else}}
                            <title>全部记事</title>
                            全部记事
                        {{end}} ({{.T.total}})
                    {{end}}
                    </span>

                    <div>
                        {{if .T.view}}
                        <a class='tag-edit-button icon-paper-plane' href='/ns:new?pt={{.T.note.Id}},{{.T.note.QueryTitle}}'></a>
                        {{end}}
                        <a class='tag-edit-button icon-search' href='javascript:$("#search-bar").toggle().find("input").focus()'></a>
                        {{$qy := printf "q=%s" (fullEscape .T.query)}}
                        <a class='tag-edit-button icon-sort-name-up {{if and (eq .P.Sort 1) (not .P.Desc)}}selected{{end}}' href='?sort=1&{{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-name-down {{if and (eq .P.Sort 1) (.P.Desc)}}selected{{end}}' href='?sort=1&desc=1&{{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-number-up {{if and (eq .P.Sort 0) (not .P.Desc)}}selected{{end}}' href='?sort=0&{{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-number-down {{if and (eq .P.Sort 0) (.P.Desc)}}selected{{end}}' href='?sort=0&desc=1&{{$qy}}'></a>
                    </div>
                </div>
            </td>
        </tr>

        {{if eq .T.total -1}}
        <tr>
            <td><div class=display>服务器忙，请稍后重试</div></td>
        </tr>
        {{end}}

        <tr>
            <td style='padding:0;background:transparent'>
            <div style='display: grid;justify-items: center; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));'>
            {{range .T.notes}}
                <div class=image-display>
                    {{if .Image}}
                        <div
                            class='image-display-container image'
                            data-src='{{imageURL "image" .Image}}'
                            style='background: center / cover no-repeat url({{imageURL "thumb" .Image}})'
                            onclick='openImage("{{imageURL "image" .Image}}")'></div>
                    {{else}}
                        <div class='image-display-container' style='background:rgba(0,0,0,0.03)' onclick='location.href="/{{.EscapedTitle}}"'>
                            {{if .Content}}
                            <div class='wrapall content100'>{{safeHTML (trunc .Content 100)}}</div>
                            {{else}}
                            <div class='wrapall content100'>{{joinParentTitles .}}</div>
                            {{end}}
                        </div>
                    {{end}}
                    <div class=image-display-info>
                        <div style='flex-grow:1'>
                            <a href='/{{.EscapedTitle}}' class=tag-edit-name>{{.HTMLTitleDisplay}}</a>
                        </div>
                        <div style='margin-top:0.25em' >
                            {{if .Lock}}<span class='li_lock'></span>{{end}}
                            {{if .PendingReview}}<span class='li_stack' title='审核中'></span>{{end}}
                        </div>
                        <div class=image-display-bar onclick='location.href="/{{.EscapedTitle}}"'>
                            {{formatUnixMilliBR .UpdateUnix}}
                        </div>
                        {{if .ChildrenCount}}
                        <div class=image-display-count>{{.ChildrenCount}}</div>
                        {{end}}
                    </div>
                </div>
            {{end}}
            </div>
            </td>
        </tr>
    </table>
</div>

<div id=page>
    {{$gp := generatePages .P.Page .T.pages}}
    {{range $gp}}
        {{if eq . 0}}
            <div style='width:2em;text-align:center'>&middot;&middot;&middot;</div>
        {{else}}
            {{if eq . $.P.Page}}
            <div class='tag-box button selected'><span><b>{{.}}</b></span></div>
            {{else}}
            <a class=nav-page href='?{{$.BuildPageLink .}}&q={{fullEscape $.T.query}}'><div class='tag-box button'>{{.}}</div></a>
            {{end}}
        {{end}}
    {{end}}
    {{if and (eq .P.Sort 1) $gp}}
        <a href='javascript:findLexPrefix()'><div style='margin-left: 0.2em' class='tag-edit-button icon-map-o'></div></a>
    {{end}}
</div>

<script>
    $('#search').on('keyup', function(ev) {
        if (ev.keyCode == 13) {
            {{if .T.view}}
            const title = decodeURIComponent('{{fullEscape .T.note.Title}}').replaceAll('\\', '\\\\'). replaceAll(' ', '\\ ')
            const filter = "ns:title:" + title + ' ';
            {{else}}
            const filter = "";
            {{end}}
            location.href="/ns:manage?q="+encodeURIComponent(filter + $("#search").val());
        }
    }).val(decodeURIComponent('{{fullEscape .T.query}}'))
    $(window).on('resize', function() {
        var current = -1, color = ['white', '#f7f8f9'], colorIdx = 0, colorIdx2 = 0;
        $('.image-display').each(function(_, id) {
            if ($(id).position().top != current || current == -1) {
                current = $(id).position().top;
                colorIdx = (colorIdx2++, colorIdx2 % 2);
            }
            colorIdx ++;
            $(id).css('background', color[colorIdx % 2]);
        })
    }).resize();

    function findLexPrefix() {
        const prefix = prompt('跳转到前缀');
        if (!prefix) return;
        location.href = '?sort=1&desc={{.T.desc}}&q={{fullEscape .T.query}}&prefix=' + encodeURIComponent(prefix);
    }
</script>

{{template "footer.html" .}}
