{{template "header.html" .}}

{{if .T.view}}
    {{if eq .T.page 1}}
        {{template "view.html" .}}
    {{end}}
{{else}}
    <title>记事管理</title>
{{end}}

<div id='search-bar' style='display:none'>
    <input id=search class='border1' style='width:100%' placeholder='搜索{{if or .T.view .T.pids}}子{{end}}{{if .T.pid}}{{.T.pid}}的{{end}}记事'>
    <script>
        $('#search').on('keyup', function(ev) {
            if (ev.keyCode == 13)
                location.href="/ns:manage?pids={{if .T.view}}{{.T.note.Id}}{{end}}{{if .T.pids}}{{.T.pids}}{{end}}&pid={{.T.pid}}&q="+encodeURIComponent($("#search").val())
        }).val(decodeURIComponent('{{fullEscape .T.query}}'))
    </script>
</div>

<div>
    <table id=list>
        <tr class=title>
            <td colspan=2>
                <div class=display>
        
                    <span style='flex-grow:1'>
                    {{if .T.query}}
                        <span>搜索{{if .T.pids}}子记事{{end}}{{if .T.pid}} {{.T.pid}} 的记事{{end}}：<b>{{safeHTML .T.query}}</b> ({{.T.total}})</span>
                    {{else}}
                    {{if .T.pid}}
                        <a class=tag-edit-button href='/ns:history?user={{.T.pid}}&desc=1'><span class=li_vynil></span></a>
                        {{if eq .UserDisplay .T.pid}}我{{else}}{{.T.pid}} {{end}}创建的记事 ({{.T.total}})
                    {{else}}
                        {{if .T.view}}
                            {{if ne .T.page 1}}<b>{{.T.note.HTMLTitleDisplay}} </b>{{end}}子记事
                        {{else}}
                            全部记事
                        {{end}} ({{.T.total}})
                    {{end}}
                    {{end}}
                    </span>

                    <div>
                        <a class='tag-edit-button icon-search' href='javascript:$("#search-bar").toggle().find("input").focus()'></a>
                        {{if .T.view}}
                        <a class='tag-edit-button icon-paper-plane' href='/ns:new?pt={{.T.note.Id}},{{.T.note.QueryTitle}}'></a>
                        {{end}}
                        {{$qy := fullEscape .T.query}}
                        <a class='tag-edit-button icon-sort-name-up {{if and (eq .T.sort 1) (not .T.desc)}}selected{{end}}' href='?sort=1&pid={{.T.pid}}&q={{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-name-down {{if and (eq .T.sort 1) (.T.desc)}}selected{{end}}' href='?sort=1&desc=1&pid={{.T.pid}}&q={{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-number-up {{if and (eq .T.sort 0) (not .T.desc)}}selected{{end}}' href='?sort=0&pid={{.T.pid}}&q={{$qy}}'></a>
                        <a class='tag-edit-button icon-sort-number-down {{if and (eq .T.sort 0) (.T.desc)}}selected{{end}}' href='?sort=0&desc=1&pid={{.T.pid}}&q={{$qy}}'></a>
                    </div>
                </div>
            </td>
        </tr>

        {{range .T.tags}}
        <tr id='tag{{.Id}}'>
            <td tag-id={{.Id}} class='tag-edit'>
                <div class=display >
                    {{imageBox .Image}}
                    <a href='/{{.EscapedTitle}}' class=tag-edit-name>{{.HTMLTitleDisplay}}</a>
                    {{if .ParentIds}}<div class='tag-edit-button li_vallet' disabled title='子记事'></div>{{end}}
                    {{if .Lock}}<div class='tag-edit-button li_lock' disabled></div>{{end}}
                    {{if .PendingReview}}<div class='tag-edit-button li_stack' disabled title='审核中'></div>{{end}}
                    <a class='tag-edit-button li_pen' href='/ns:edit?id={{.Id}}'></a>
                </div>
            </td>
            <td class='time small'>{{formatUnixMilliBR .UpdateUnix}}</td>
        </tr>
        {{end}}
    </table>
</div>

<div id=page style='text-align:center'>
    {{range (generatePages .T.page .T.pages)}}
        {{if eq . 0}}
        <span>...</span>
        {{else}}
        <div class='tag-box nav-page button {{if eq . $.T.page}}selected{{end}}'>
            {{if eq . $.T.page}}
            <span><b>{{.}}</b></span>
            {{else}}
            <a href='?{{$.BuildPageLink .}}&pid={{$.T.pid}}'>{{.}}</a>
            {{end}}
        </div>
        {{end}}
    {{end}}
</div>

{{template "footer.html" .}}
