{{template "header.html" .}}
<title>新建记事</title>
<table>
    <tr>
        <td>
            <div class=display style='flex-wrap:nowrap;align-items:stretch;padding:0.5em 0'>
                <input id="image" type=file class='image-selector' accept="image/*">
                <div style='display: flex;flex-grow:1;flex-direction:column'>
                    <div style='display: flex;flex-grow:1'>
                        <textarea
                                id=name
                                maxlength={{.GetTitleMaxLen}}
                                class='tag-edit-title tag-edit-desc'
                                placeholder='标题：{{.GetTitleMaxLen}}字符'></textarea>
                        <div style='display: flex;flex-wrap:nowrap'>
                            <div id=dup style='display:none'><b>重名</b><a class='tag-edit-button icon-eye' style='margin-left:0.5em'></a></div>
                            <div id=submit class='tag-edit-button icon-paper-plane'></div>
                        </div>
                    </div>
                    <div style='color:#ccc;font-size:80%;white-space:pre-wrap;word-break:break-all'>标题为空时，请选择至少一个父记事。</div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class=display>
                <textarea id=desc maxlength={{.GetContentMaxLen}} class=tag-edit-desc placeholder='内容：0-{{.GetContentMaxLen}}字符' rows=20></textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class=display style='min-height: 2em'>
                <span style='font-size:90%;color:#ccc'>关于高级语法，请阅读该篇<a href='/ns:edit_syntax'>记事</a></span>
            </div>
        </td>
    </tr>
    <tr>
        <td><div class=display id=parents></div></td>
    </tr>
</table>

        <script>
            $('#submit').click(function() {
                ajaxBtn(this, 'create', {
                    'title': $('#name').val(),
                    'content': $('#desc').val(),
                    'image': $('#image').get(0).files[0],
                    'thumb': $('#image').get(0).thumb,
                    'image_changed': $('#image').attr('changed'),
                    'parents': JSON.stringify(ps.get(0).getTags()),
                }, function(data) {
                    pTitle ? 
                        (location.href = '/' + encodeURIComponent(pTitle) + '?sort=0&desc=1') :
                        (location.href = '/ns:manage?sort=0&desc=1')
                });
            })
            $('#desc').linedtextarea();
            $('#image').imageSelector();

            const searchParams = new URLSearchParams(window.location.search)
            const pre = searchParams.get('pt');
            const title = searchParams.get('title');
            const ps = $("<div max-tags={{.GetParentsMax}} id=parents class='tag-search-input-container' style='width:100%'></div>");

            pre && ps.attr('tag-data0', pre);
            title && $('#name').val(title.substr(0, {{.GetTitleMaxLen}}));
            const pTitle = pre ? pre.substr(pre.indexOf(',') + 1) : '';

            $('#parents').append(ps);
            wrapTagSearchInput(ps.get(0));
            ps.find('input').attr('placeholder', '选择父标签')

            function checkTitle() {
                function reset() {
                    $('#dup').hide().closest('tr').css('background', '');
                }
                const that = this, last = this.last || '', input = $('#name').val();
                if (!input) reset();
                if (input && input != last) {
                    $.get('/ns:search?n=1&title=' + encodeURIComponent(input), function(data) {
                        if (data.notes.length > 0 && $('#name').val() == input) {
                            $('#dup').show().find('a').attr('href', '/ns:id:' + data.notes[0][0]).closest('tr').css('background', '#fce4ec')
                        } else {
                            reset();
                        }
                    }).always(function() {
                        that.last = input;
                        setTimeout(checkTitle, 200);
                    })
                } else {
                    this.last = input;
                    setTimeout(checkTitle, 200);
                }
            }
            checkTitle();
        </script>

{{template "footer.html" .}}
