{{template "header.html" .}}
<title>新建记事</title>
<table>
    <tr>
        <td class=small>标题</td>
        <td>
            <div class=display>
                <input id=name maxlength={{.GetTitleMaxLen}} class='tag-edit-name tag-search-input-oneline' placeholder='{{.GetTitleMaxLen}}字符' />
                <div id=submit class='tag-box button'><span>创建</span></div>
            </div>
        </td>
    </tr>
    <tr>
        <td class=small>内容</td>
        <td>
            <div class=display>
                <textarea id=desc maxlength={{.GetContentMaxLen}} class=tag-edit-desc placeholder='{{.GetContentMaxLen}}字符' rows=20></textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td class=small>图片</td>
        <td>
            <div class=display>
                <input id="image" type=file class='image-selector'>
            </div>
        </td>
    </tr>
    <tr>
        <td class=small>父记事</td>
        <td>
            <div class=display id=parents></div>
        </td>
    </tr>
</table>

        <script>
            $('#submit').click(function() {
                ajaxBtn(this, '/ns:action', {
                    'action': 'create',
                    'title': $('#name').val(),
                    'content': $('#desc').val(),
                    'image': $('#image').get(0).files[0],
                    'image_changed': $('#image').attr('changed'),
                    'parents': JSON.stringify(ps.get(0).getTags()),
                }, function(data) {
                    location.href = '/ns:manage?sort=0&desc=1';
                });
            })
            $('#desc').linedtextarea();
            $('#image').imageSelector();

            const searchParams = new URLSearchParams(window.location.search)
            const pre = searchParams.get('pt');
            const title = searchParams.get('title');
            const ps = $("<div max-tags={{.GetParentsMax}} id=parents class='tag-search-input-container border1' style='width:100%'></div>");
            ps.get(0).onclicktag = function(id) { window.open('/ns:edit?id='+id) }
            pre && ps.attr('tag-data0', pre);
            title && $('#name').val(title.substr(0, {{.GetTitleMaxLen}}));
            $('#parents').append(ps);
        </script>

{{template "footer.html" .}}
