{{template "header.html" .}}

{{if .T.lastParent}}
<title>新建子记事 {{.T.lastParent}} {{safeHTML .T.lastTitle}}</title>
{{else}}
<title>新建记事</title>
{{end}}

<table class=table>
    {{if .T.lastParent}}
    <tr style='background:#ffe0b2'>
        <td colspan=2>
            <div class='wrapall display'>新建子记事 {{.T.lastParent}} {{safeHTML .T.lastTitle}}</div>
        </td>
    </tr>
    {{end}}

    <tr id="tr">
        <td>
            <div class=display style='flex-wrap:nowrap;align-items:stretch;padding:0.5em 0'>
                <div class=mr5>
                    <input id="image" type=file class='image-selector'>
                </div>
                <div style='display: flex;flex-grow:1;flex-direction:column'>
                    <div style='display: flex;flex-grow:1'>
                        <textarea
                                id=title
                                maxlength={{.MaxTitle}}
                                class='tag-edit-title tag-edit-desc'
                                placeholder='标题：{{.MaxTitle}}字符'></textarea>
                        <div>
                            <div id=submit class='tag-edit-button icon-paper-plane'></div>
                        </div>
                    </div>
                    <div id=prompt class=wrapall style='color:#aaa;font-size:80%'></div>
                </div>
            </div>
        </td>
    </tr>
    <tr class=textarea>
        <td>
            <div class=display>
                <textarea
                    id=content
                    maxlength={{.MaxContent}}
                    class=tag-edit-desc
                    placeholder='内容：0-{{.MaxContent}}字符'
                    rows=20></textarea>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class=display>
                <span class=wrapall style='font-size:80%;color:#ccc;flex-grow:1'>支持常见的HTML标签，如a、b、u、i、img、div等。</span>
                <div class='tag-edit-button icon-print' title='预览' onclick='openPreview($("#content").val())'></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class=display>
                <div max-tags={{.MaxParents}}
                     id=parents
                     class='tag-search-input-container'
                     {{range $i, $v := .T.parents}}data{{$i}}='{{safeHTML $v}}' {{end}}></div>
            </div>
        </td>
    </tr>
</table>

<script>
    $('#submit').click(function() {
        ajaxBtn(this, 'create', Object.assign({
            'title': $('#title').val(),
            'content': $('#content').val(),
            'parents': JSON.stringify($('#parents').get(0).getTags()),
        }, $('#image').get(0).imageData), function(data) {
            window.localStorage.removeItem('draft:new');
            {{if .T.lastParent}}
            location.href = '/ns:id:{{.T.lastParent}}?sort=0&desc=1';
            {{else}}
            location.href = '/ns:manage?sort=0&desc=1';
            {{end}}
        });
    });

    function checkTitle() {
        const that = this, last = this.last || '', input = $('#title').val();
        function reset() {
            $('#tr').css('background', '');
            $('#prompt').text(input ? '' : '标题为空时，请选择至少一个父记事。').off('click');
        }
        if (!input) reset();
        if (input && input != last) {
            $.get('/ns:search?n=1&title=' + encodeURIComponent(input), function(data) {
                if (data.notes.length > 0 && $('#title').val() == input) {
                    const res = data.notes[0];
                    $('#tr').css('background', '#fce4ec');
                    $('#prompt').
                            text('该标题已存在，点击查看').
                            css('cursor', 'pointer').
                            click(function() { window.open('/ns:id:' + res[0]) });
                    $('#parents').get(0).select(res[0], res[1]);
                    $('#title').focus();
                } else {
                    reset();
                }
            }).always(function() {
                that.last = input;
                setTimeout(checkTitle, 200);
            })
        } else {
            this.last = input;
            setTimeout(checkTitle, 200);
        }
    }
    checkTitle();

    $('#content').linedtextarea().val(window.localStorage.getItem('draft:new') || '');
    setInterval(function() {
        window.localStorage.setItem('draft:new', $('#content').val());
    }, 5000)
</script>

{{template "footer.html" .}}
