{{template "header.html" .}}
<title>操作历史</title>

<style>
.diff {
    display: flex;
    line-height: 2em;
}
.diff-header {
    font-size:90%; white-space:initial;line-height:1.25em;margin:0.2em 0;
    align-items:center; display:flex; flex-grow: 1;
}
.diff-header-ip {
    font-size:90%; color: #aaa;
}
</style>

<div style='display:flex;align-items:center'>
    <div class='tag-box button {{if (not .T.desc)}}selected{{end}}'><a href='?id={{.T.id}}'>最旧</a></div>
    <div class='tag-box button {{if (.T.desc)}}selected{{end}}'><a href='?desc=1&id={{.T.id}}'>最新</a></div>
            <script>
                function diff() {
                    const left = $('input[type=radio][name=diff-left]:checked').val();
                    const right = $('input[type=radio][name=diff-right]:checked').val();
                    if (!left || !right) return;
                    openDiff(
                        JSON.parse($('#record' + left).find('.tag-data').text()).D,
                        JSON.parse($('#record' + right).find('.tag-data').text()).D,
                    )
                }
            </script>
</div>

<div>
    <table id=list>
        <tr>
            <td colspan=2>
                <div class=display >
                    {{if .T.tag.Valid}}
                        <b>{{.T.tag.Name}}</b>
                        <a class=tag-edit-button href='/manage?sort=0&edittagid={{.T.tag.Id}}'><span class=li_pen></span></a>
                    {{else}}
                        {{if .T.id}}
                        <b>{{.T.id}}</b>
                        <a class=tag-edit-button href='/manage?sort=0&pid={{.T.id}}'><span class=li_vynil></span></a>
                        {{else}}
                        <div>全局</div>
                        {{end}}
                    {{end}}
                    <span>操作记录 ({{.T.total}})</span>
                </div>
            </td>
        </tr>
        {{range .T.records}}
        {{$tagid := .Tag.Id}}
        <tr>
            <td>
                <input onclick='diff()' name=diff-left value={{.Id}} type=radio>
                <input onclick='diff()' name=diff-right value={{.Id}} type=radio>
                <b>{{.ActionName}}</b>
            </td>
            <td>
                <div class=diff>
                    <div class='diff-header'>
                        {{.Modifier}}&nbsp;
                        <a href='/history?id=@{{.Modifier}}' class='tag-edit-button li_user'></a>&nbsp;
                    </div>
                    <div class=diff-header-ip>
                        {{.ModifierIP}}
                    </div>
                </div>
            </td>
        </tr>
        <tr id='record{{.Id}}'>
            <td class='small'>
                <div>{{formatUnixMilli .CreateUnix}}</div>
            </td>
            {{with .Tag}}
            <td tag-id={{.Id}} class='tag-edit'>
                <script type="application/json" class=tag-data>{{.Data}}</script>
                <div class=display>
                    <div style='flex-grow:1'>
                    <a href='javascript:void(0)' tag-readonly=true class='tag-edit-button-update tag-edit-name'
                        >{{if .PendingReview}}{{.ReviewName}}{{else}}{{.Name}}{{end}}</a>
                    </div>
                    <div>
                    <a href='/history?id={{$tagid}}' class='tag-edit-button li_note'></a>
                    </div>
                </div>
            </td>
            {{end}}
        </tr>
        {{end}}
    </table>
    <table id=edit style='display:none'>
    </table>
</div>

<div id=page style='text-align:center'>
    {{range (generatePages .T.page .T.pages)}}
        {{if eq . 0}}
        <span>...</span>
        {{else}}
        <div class='tag-box nav-page button {{if eq . $.T.page}}selected{{end}}'>
            {{if eq . $.T.page}}
            <span><b>{{.}}</b></span>
            {{else}}
            <a href='?{{$.BuildPageLink .}}&id={{$.T.id}}'>{{.}}</a>
            {{end}}
        </div>
        {{end}}
    {{end}}
</div>
{{template "footer.html" .}}
