{{template "header.html" .}}
<title>标签历史</title>

<style>
.diff { font-size:90%; white-space:initial;line-height:1.25em;margin:0.2em 0}
.diff-header { align-items:center; display:flex;}
.hl, .hltag{border-bottom: solid 1px #233;display:inline-block;padding:0 0.5em;}
.hltag span{ margin: 0 0.5em}
</style>

<div style='display:flex;align-items:center'>
    <div class='tag-box button {{if (not .T.desc)}}selected{{end}}'><a href='?id={{.T.id}}'>最旧</a></div>
    <div class='tag-box button {{if (.T.desc)}}selected{{end}}'><a href='?desc=1&id={{.T.id}}'>最新</a></div>
</div>

<div>
    <table id=list>
        <tr>
            <td colspan=2>
                <div class=display >
                    <span>
                        {{if .T.tag.Valid}}
                        <b>{{.T.tag.Name}}</b>
                        <a class=tag-edit-button href='/tag/manage?sort=0&edittagid={{.T.tag.Id}}'><span class=li_pen></span></a>
                        {{else}}
                        {{if .T.id}}
                        <b>{{.T.id}}</b>
                        <a class=tag-edit-button href='/tag/manage?sort=0&pid={{.T.id}}'><span class=li_vynil></span></a>
                        {{else}}
                        全局
                        {{end}}
                        {{end}}
                        操作记录 ({{.T.total}})
                    </span>
                </div>
            </td>
        </tr>
        {{range .T.records}}
        {{$tagid := .TagId}}
        <tr>
            <td colspan=2>
                <div class='diff diff-header'>
                    <div style='flex-grow:1'>{{.Modifier}} ({{.ModifierIP}})</div>
                    <a href='/tag/history?id=@{{.Modifier}}' class='tag-edit-button li_user'></a>
                    <a href='/tag/history?id={{$tagid}}' class='tag-edit-button li_tag'></a>
                </div>
            </td>
        </tr>
        <tr id='record{{.Id}}'>
            <td class='small'>
                <div style='padding:0.5em'>
                <div>{{.Action}}</div>
                <div>{{formatUnixMilli .CreateUnix}}</div>
                </div>
            </td>
            <td>
                {{if not .Diffs}}
                    <div class=diff><b>0.</b>&emsp;&nbsp;无变更</div>
                {{else}}
                    {{range $i, $d := .Diffs}}
                    <div class=diff>
                        {{$el := (index $d 0)}}
                        {{$old := index $d 1}}
                        {{$new := index $d 2}}
                        {{$u := uuid}}
                        <script type="text/plain" id=record-data-{{$u}}-old>{{$old}}</script>
                        <script type="text/plain" id=record-data-{{$u}}-new>{{$new}}</script>
                        <b>{{add $i 1}}.</b>&emsp;
                        {{if eq $el "parents"}}
                            父标签由
                            <div class='hltag'>{{if not $old}}<i>空</i>{{else}}{{range $old}}<span>{{.Name}}</span>{{end}}{{end}}</div>
                            变为 
                            <div class='hltag'>{{if not $new}}<i>空</i>{{else}}{{range $new}}<span>{{.Name}}</span>{{end}}{{end}}</div>
                        {{end}}
                        {{if eq $el "lock"}}
                            {{if $new}}锁定{{else}}解锁{{end}}
                        {{end}}
                        {{if eq $el "pendingreview"}}
                            {{if $new}}请求审核{{else}}解除审核{{end}}
                        {{end}}
                        {{if eq $el "name"}}
                            标签名由
                            <div class=hl>{{if not $old}}<i>空</i>{{else}}{{$old}}{{end}}</div>
                            变为
                            <div class=hl>{{if not $new}}<i>空</i>{{else}}{{$new}}{{end}}</div>
                        {{end}}
                        {{if eq $el "reviewname"}}
                            待审核标签名由
                            <div class=hl>{{if not $old}}<i>空</i>{{else}}{{$old}}{{end}}</div>
                            变为
                            <div class=hl>{{if not $new}}<i>空</i>{{else}}{{$new}}{{end}}</div>
                        {{end}}
                        {{if eq $el "desc"}}
                        内容发生变更 (<a href='javascript:openDiff("record-data-{{$u}}-old", "record-data-{{$u}}-new", true)'>diff</a>)
                        {{end}}
                        {{if eq $el "reviewdesc"}}
                            待审核内容发生变更 (<a href='javascript:openDiff("record-data-{{$u}}-old", "record-data-{{$u}}-new", true)'>diff</a>)
                        {{end}}
                    </div>
                    {{end}}
                {{end}}
            </td>
        </tr>
        {{end}}
    </table>
</div>

<div id=page style='text-align:center'>
    {{range (generatePages .T.page .T.pages)}}
        {{if eq . 0}}
        <span>...</span>
        {{else}}
        <div class='tag-box nav-page button {{if eq . $.T.page}}selected{{end}}'>
            {{if eq . $.T.page}}
            <span><b>{{.}}</b></span>
            {{else}}
            <a href='?{{$.BuildPageLink .}}&id={{$.T.id}}'>{{.}}</a>
            {{end}}
        </div>
        {{end}}
    {{end}}
</div>
{{template "footer.html" .}}
