{{with .T.note}}

{{if .Title}}
<h1 style='word-break:break-all'>{{safeHTML .Title}}</h1>
<title>{{safeHTML .Title}}</title>
{{else}}
<title>无标题</title>
{{end}}

<div style='font-size: 90%'>
    <div>
        <a href='/ns:manage?q=ns:user:{{.Creator}}'>{{.Creator}}</a> 创建于 {{formatUnixMilli .CreateUnix}}
        <a class=tag-edit-button href='/ns:edit?id={{.Id}}'><span class=icon-pencil></span></a>
    </div>
    {{if .Modifier}}
    <div>
        <a href='/ns:manage?q=ns:user:{{.Modifier}}'>{{.Modifier}}</a> 修改于 {{formatUnixMilli .UpdateUnix}}
        <a class=tag-edit-button href='/ns:history?note={{.Id}}&desc=1'><span class=icon-calendar></span></a>
    </div>
    {{end}}
    {{if .PendingReview}}
    <div>
        <span class=icon-inbox></span> 该记事有新版本等待审核
    </div>
    {{end}}
</div>
<hr style='border:dotted 1px #ccc'>

<div>
    {{if .Image}}
    <a href="javascript:openImage('{{imageURL "image" .Image}}')">
        <div class='image-view'>
            <img class=image
                 src="{{imageURL "image" .Image}}"
                 data-src="{{imageURL "image" .Image}}"
                 style="max-width:100%;max-height:100%">
        </div>
    </a>
    {{end}}
    {{if $.T.parents}}
    <div>
        <b>父记事 <span class=icon-attach></span></b>
        <div style='font-size: 90%;line-height:1.5em;padding:0.5em 0'>
            {{range $.T.parents}}
            <a href='/{{.EscapedTitle}}'>{{.HTMLTitleDisplay}}</a>&emsp;
            {{end}}
        </div>
    </div>
    {{end}}
    <pre class=wrapall style='font:inherit'>{{renderClip (safeHTML .Content)}}</pre>
</div>

{{end}}
